@import 'andlight.css';
@import 'common.css';

/*@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:200,300,400,500,600,700,800,900);*/

/* Source: https://github.com/jonathantneal/system-font-css/blob/gh-pages/system-font.css */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system;
  font-style: italic;
  font-weight: 300;
  src: local(".SFNSText-LightItalic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Ubuntu Light Italic"), local("Segoe UI Light Italic"), local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Ubuntu"), local("Segoe UI"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system;
  font-style: italic;
  font-weight: 400;
  src: local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Ubuntu Italic"), local("Segoe UI Italic"), local("Roboto-Italic"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 500;
  src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Ubuntu Medium"), local("Segoe UI Semibold"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
  font-family: system;
  font-style: italic;
  font-weight: 500;
  src: local(".SFNSText-MediumItalic"), local(".HelveticaNeueDeskInterface-MediumItalicP4"), local(".LucidaGrandeUI"), local("Ubuntu Medium Italic"), local("Segoe UI Semibold Italic"), local("Roboto-MediumItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 700;
  src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Ubuntu Bold"), local("Roboto-Bold"), local("DroidSans-Bold"), local("Segoe UI Bold"), local("Tahoma Bold");
}

@font-face {
  font-family: system;
  font-style: italic;
  font-weight: 700;
  src: local(".SFNSText-BoldItalic"), local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"), local("Ubuntu Bold Italic"), local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Segoe UI Bold Italic"), local("Tahoma Bold");
}

body {
  font-family: system, Helvetica Neue, Helvetica, sans-serif;
  min-width: 10rem;
}

/*
.fonts-loaded body {
  font-family: Libre Franklin, Helvetica Neue, Helvetica, sans-serif;
}
*/

.hidden-text {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  width: 1px;
}

.license,
.browser-type,
.browser-type + dd,
.browser-version,
.browser-version + dd,
.browser-download {
  display: none;
}

/* begin reset */
header {
  border-bottom-width: 0;
  padding-bottom: 0;
}

header .button {
  margin: 0;
}

.button:not([class*='button-outlined']) {
  padding: 0;
}

section {
  padding: 0;
}

/**
 * Breakpoints
 *
 *   breakpoint-smartphone: 480px
 *   breakpoint-mid-mobile: 600px
 *       breakpoint-tablet: 768px
 *      breakpoint-desktop: 900px
 * breakpoint-desktop-wide: 1200px
 */

/**
 * Resets
 */

/* tablet */
@media all and (max-width: 768px) {
  body {
    border-width: 0;
  }
}

@media all and (min-width: 769px) {
  body {
    border-width: 0;
  }
}

/* mid-sized mobile */
@media all and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

/* larger than tablet but smaller than desktop */
@media all and (min-width: 481px) and (max-width: 900px) {
  .container {
    width: 100%;
  }
}

/* desktop */
@media all and (min-width: 901px) {
  .container {
    width: 100%;
  }
}
/* end reset */

.header {
  border-bottom: 1px solid #f2f4f6;
}

.section {
  padding: 1.5rem;
}

.header .section {
  position: relative;
}

.main .section:empty {
  border-bottom-width: 0;
  display: none;
}

h1.page-title {
  margin: 0;
}

.main h1,
.main h2 {
  font-weight bold;
  font-size: 3rem;
}

.section[data-section="headsets"] {
  background-color: rgb(15,30,250);
  display: none;
}

.section[data-section="headsets"],
.section[data-section="headsets"] h1 a {
  color: #fff;
}

.section[data-section="headsets"] h1 {
  margin: 0;
}

.section[data-section="headsets"] li a {
  color: rgba(255,255,255,.5);
  transition: .15s color ease-in-out, .15s opacity ease-in-out;
}

.section[data-section="headsets"] li a:hover {
  color: #fff;
  opacity: 1;
}

.section[data-section="headsets"] li a {
  display: block;
  font-size: .7rem;
  text-align: center;
}

.section[data-section="headsets"] svg {
  display: block;
  margin: 0 auto;
  max-height: 3rem;
  max-width: 3rem;
  padding-bottom: 1rem;
}

.section[data-section="headsets"] svg#daydream g {
  stroke: rgba(255,255,255,.5);
  transition: .15s stroke ease-in-out;
}

.section[data-section="headsets"] a:hover svg#daydream g {
  stroke: #fff;
}

.section[data-section="headsets"] svg:not(#daydream) path {
  fill: rgba(255,255,255,.5);
  transition: .15s fill ease-in-out;
}

.section[data-section="headsets"] a:hover svg:not(#daydream) path {
  fill: #fff;
}

.browser-link {
  display: flex;
  flex-direction: column-reverse;
}

/*li*/[itemprop="browser"] [itemprop="name"] {
  display: block;
  flex: 1;
  font-size: .8rem;
  margin-top: .75rem;
}

.section[data-section="intro"] {
  border-width: 0;
}

.intro-compat {
  opacity: .8;
}

[data-layout="home"] .main h1,
.main h2 {
  font-size: 2rem;
  font-weight: 400;
}

[data-layout="home"] .main h1 a,
.main h2 a {
  display: block;
}

[data-layout="home"] .main h1 {
  border: 1px solid rgba(0,176,233,.25);
  border-width: 1px 0;
  padding: 1rem 0;
}

/*li*/[itemprop="browser"] [itemprop="name"] {
  font-weight: 500;
  margin: 0 0 .75rem;
  padding-top: .75rem;
}

/*h1*/.browser-name {
  padding-bottom: .5rem;
}

.browser-icon {
  display: block;
  margin-bottom: .5rem;
  max-width: 100px;
  min-height: 70px;
  min-width: 70px;
  opacity: .9;
  transition: .15s opacity ease-in-out;
}

.browser-icon-oculus-rift {
  max-height: 70px;
  min-height: auto;
}

[data-supports-touch="true"] .browser-link:active .browser-icon,
[data-supports-touch="false"] .browser-link:hover .browser-icon {
  opacity: 1;
}

html:not([data-layout~="home"]) .main .section:last-child {
  padding-bottom: 0;
}

.main h2,
.main h3,
.main h4,
.main h5,
html:not([data-layout~="home"]) .main p,
html:not([data-layout~="home"]) .main dl,
html:not([data-layout~="home"]) .main ol,
html:not([data-layout~="home"]) .main ul,
.browser-intro {
  max-width: 600px;
}

.intro-para {
  max-width: 700px;
}

.intro-para em {
  font-style: normal;
}

.intro {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 0;
}

.intro-video-play {
  display: none;
}

.section > *:last-child.intro-video {
  margin-bottom: 1.5rem;
}

.main .section dl:last-child {
  margin: 0;
}

.main li:first-child p:first-child {
  margin-top: 0;
}

.main li:last-child p:last-child {
  margin-bottom: 0;
}

.main dd ol,
.main dd ul {
  margin-bottom: 0;
}

.browser-intro {
  opacity: .7;
  line-height: 1.4;
}

[data-layout~="home"] .section h2 {
  margin: 0;
}

.section > *:first-child {
  margin-top: 0;
}

.section > *:last-child {
  margin-bottom: 0;
}

.info dt {
  cursor: pointer;
}

.info dd {
  /*display: none;*/
}

.info dd + dt {
  margin-top: .5rem;
}

.info dt:target + dd {
  /*display: block;*/
}

.main li + li {
  margin-top: .75rem;
}

.main dt + dd {
  padding-bottom: .75rem;
}

.main dd:empty {
  display: none;
}

dd .button-download {
  margin-bottom: 10px;
  margin-top: 10px;
}

.authors__list,
.release-notes {
  margin: 0;
  padding-left: 0;
}

.authors__list {
  color: #666;
  margin-top: .5rem;
  padding-left: 0;
}

figcaption {
  padding-top: .25rem;
}

[data-browser] li figcaption {
  text-align: center;
}

.authors__list li,
.release-notes li {
  list-style-type: none;
}

.authors__list li + li {
  margin-top: 5px;
}

*[class*='button-outlined'].button-small {
  padding: 3px 5px;
}

/*
[class].button {
  padding: 5px 10px;
}
*/

li .button {
  margin: 0 5px;
}

li .button:first-child {
  margin-left: 0;
}

dd code,
p code,
li code {
  background: #eee;
  border-radius: 1px;
  box-shadow: 1px 1px 0 #ccc;
  color: #666;
  margin: 0 3px;
  padding: 3px 6px;
}

.site-nav {
  margin: -1.5rem;
}

.site-header .section {
  padding-bottom: 0;
}

ul.site-nav-list {
  margin: 0;
  padding-left: 0;
}

ul.site-nav-list li {
  list-style-type: none;
}

.site-nav a {
  padding: 5px 1.5rem;
}

.site-nav li:first-child a {
  padding-top: 1.5rem;
}

.site-nav li:last-child a {
  padding-bottom: 1.5rem;
}

.site-nav a {
  display: block;
}

.site-logo {
  display: block;
  z-index: 1;
  width: 100%;
}

.site-logo svg {
  height: 100%;
  margin: 0 1.5rem 1rem 0;
  max-width: calc(3rem + 6vw);
  width: 100%;
}

.site-logo svg path {
  transition: .15s fill ease-in-out;
}

[data-layout="secondary"] .site-logo {
  opacity: .9;
}

[data-layout="secondary"] .site-logo svg {
  opacity: .8;
  max-width: calc(2rem + 4vw);
  width: auto;
}

[data-layout="secondary"] .site-logo svg path {
  fill: #989898;
}

[data-supports-touch="true"][data-layout="secondary"] .site-logo:active,
[data-supports-touch="false"][data-layout="secondary"] .site-logo:hover {
  opacity: 1;
}

[data-supports-touch="true"][data-layout="secondary"] .site-logo:active svg path,
[data-supports-touch="false"][data-layout="secondary"] .site-logo:hover svg path {
  fill: #24aef4;
}

[data-layout="secondary"] .site-logo:active svg path {
  fill: magenta;
}

.edit-page,
.rocks-wordmark {
  display: none;
}

ul[data-section] {
  margin: 0;
  padding: 0;
  width: 100%;
}

.main ul[data-section] li {
  list-style-type: none;
}

ul[data-section] li + li {
  margin-top: 3rem;
}

html[data-layout="home"] ul[data-section] {
  max-width: 1200px;
}

ul[data-section] {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4;
  margin-top: 2.5rem;
  padding: 0 0 1rem;
}

ul[data-section] li {
  width: 100%;
}

ul[data-section] [itemprop="url"] {
  display: block;
  height: 100%;
  text-align: center;
  width: 100%;
}

[data-section] a[itemprop="url"] {
  color: #999;
}

[data-supports-touch="true"] [data-section] a[itemprop="url"]:active,
[data-supports-touch="false"] [data-section] a[itemprop="url"]:hover {
  color: #111;
}

[itemprop="image"] {
  margin: 0 auto;
}

.download {
  margin-top: 1.5rem;
}

.button-source {
  display: block;
  font-size: .8rem;
  padding-top: .75rem;
}

a.button-source {
  color: #666;
}

[data-supports-touch="true"] a.button-source:active,
[data-supports-touch="false"] a.button-source:hover {
  color: #111;
}

a.button-source {
  position: relative;
}

a.button-source:after {
  color: #999;
  content: '→';
  display: inline-block;
  opacity: 0;
  padding-left: .5rem;
  pointer-events: none;
  position: absolute;
  transform: scale(0);
  transition: .3s all ease-in-out;
  visibility: hidden;
}

[data-supports-touch="true"] a.button-source:active:after,
[data-supports-touch="false"] a.button-source:hover:after {
  font-weight: 800;
  opacity: 1;
  pointer-events: visible;
  transform: scale(1);
  visibility: visible;
}

.dropdown-download,
.dropdown-download .dropdown {
  background-color: #43bb6e;
}

.dropdown-download {
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
}

.dropdown-download.dropdown-with-children {
  min-width: 10rem;
}

.dropdown-download .button {
  background-color: transparent;
}

.dropdown-download .button-unstyled,
.dropdown-download .dropdown a {
  color: #fff;
}

.dropdown-download .icon-arrow-down {
  border-top-color: #fff;
  right: auto;
  top: -4px;
}

[aria-expanded="false"] .dropdown-with-children .dropdown {
  display: none;
}

.dropdown-download .dropdown li {
  font-size: .8rem;
}

.dropdown-download .dropdown li:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.2);
}

[data-supports-touch="true"] .dropdown-download:not(.dropdown-with-children).active,
[data-supports-touch="true"] .dropdown-download:not(.dropdown-with-children):active,
[data-supports-touch="false"] .dropdown-download:not(.dropdown-with-children):hover {
  border-radius: 3px;
}

.dropdown-download .dropdown li:last-child,
.dropdown-download .dropdown li:last-child a {
  border-radius: 0 0 3px 3px;
}

.dropdown-standalone:hover .dropdown a {
  padding: auto;
}

.dropdown-download .dropdown a,
.dropdown-download:hover .dropdown a {
  padding: .5rem 15px;
}

.dropdown-download .dropdown a {
  color: #e8f7ef;
}

[data-supports-touch="true"] .dropdown-download .dropdown a.active,
[data-supports-touch="true"] .dropdown-download .dropdown a:active,
[data-supports-touch="false"] .dropdown-download .dropdown a:hover {
  background-color: #3fae67;
  color: #fff;
}

[data-supports-touch="true"] .dropdown-download.active,
[data-supports-touch="true"] .dropdown-download:active,
[data-supports-touch="false"] .dropdown-download:hover {
  background-color: #369658;
}

.note {
  color: #999;
  font-size: .7rem;
  line-height: 1.8;
}

.note strong {
  color: #666;
  margin-right: .5ch;
  text-transform: uppercase;
}



.iframe-container {
  position: relative;
  padding-bottom: 56.25%;  /* 16:9 */
  padding-top: 1.5rem;
  height: 0;
}

.iframe-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

[data-debug] .site-logo {
  background: yellow;
}

[data-debug][data-layout="secondary"] .site-logo {
  background: goldenrod;
}

[data-debug][data-layout="secondary"] .site-logo svg {
  background: red;
}

[data-debug][data-layout="secondary"] body {
  background: red;
}

[data-debug] .section {
  background-color: orange;
}

/**
 * Breakpoints
 *
 *   breakpoint-smartphone: 480px
 *   breakpoint-mid-mobile: 600px
 *       breakpoint-tablet: 768px
 *      breakpoint-desktop: 900px
 * breakpoint-desktop-wide: 1200px
 */

/**
 * Mobile-first media queries
 */

@media all and (min-width: 18rem) and (max-width: 44.999rem) {
  .intro-para {
    background: #ffdc00;
    border: rgba(0, 0, 0, .1) 1px solid;
    border-width: 1px 0;
    font-size: 1.2rem;
    line-height: 1.7;
    margin: 0 -1.5rem 1.5rem;
    padding: 1.5rem;
  }

  .intro-para em {
    background-color: rgba(0,0,0,.1);
    border-radius: .15rem;
    /*color: #fff;*/
    color: #111;
    padding: .15rem .4rem;
    white-space: pre;
  }
}

@media all and (min-width: 18rem) {
  /*
  .site-logo:hover svg path {
    fill: #ff9300;
  }
  */

  [data-supports-touch="false"] .site-logo:hover svg path {
    fill: #0b94da;
  }

  .site-logo:active svg path {
    fill: magenta;
  }

  ul[data-section] {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
  }

  ul[data-section] li {
    flex-basis: 33.3333%;
    width: auto;
  }

  .main ul[data-section] li + li {
    margin-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .main ul[data-section] li:nth-child(3n) {
    padding-right: 0;
  }
}

@media all and (min-width: 20rem) {
  .site-header .section {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
  }

  .site-nav {
    flex-grow: 1;
    flex-shrink: 0;
  }

  .site-title {
    width: calc(7rem + 8vw);
  }

  .site-logo {
    max-width: 50vw;  /* Big click target. */
    padding-top: 3rem;
    position: absolute;
    right: 0;
    text-align: right;
    top: -3rem;
    transition: .15s opacity ease-in-out;
  }

  .site-logo svg {
    margin: 1.5rem;
  }

  [data-layout="secondary"] .site-logo {
    /*top: -1.5rem;*/
  }

  [data-layout="secondary"] .site-logo svg {
    /*margin-top: 3rem;*/
  }

  ul[data-section] {
    justify-content: space-between;
  }
}

@media all and (min-width: 45rem) {
  .site-header .section {
    flex-direction: row;
    padding-top: 0;
  }

  .site-nav {
    margin: 0;
  }

  ul.site-nav-list {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: -1.5rem;
    padding: 0;
  }

  .site-nav-list a {
    display: block;
    padding: 1.5rem;
    height: 100%;
  }

  .site-nav li:first-child a {
    padding-top: 1.5rem;
  }

  .site-nav li:last-child a {
    padding-bottom: 1.5rem;
  }

  body {
    padding: 3rem;
    margin: 0 auto;
    max-width: 80rem;
  }

  .section {
    padding-left: 0;
    padding-right: 0;
  }

  .header .section {
    padding-top: 0;
  }

  [data-layout="secondary"] .header .section {
    padding-bottom: 3rem;
  }

  [data-layout="secondary"] .main .section {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  [data-layout="secondary"] .main .section:last-child {
    padding-bottom: 1.5rem;
  }

  .site-header {
    margin-left: -1.5rem;
    margin-top: -1.5rem;
  }

  [data-layout="home"] .site-logo {
    position: static;
    max-width: 100%;
    padding: 0 0 1.5rem;
    text-align: left;
  }

  [data-layout="secondary"] .site-logo {
    right: -1.5rem;
    padding-top: 1.5rem;
  }

  .intro-para {
    font-size: 1.6rem;
    line-height: 1.7;
  }

  .intro-para em {
    background: rgba(255,220,0,.3);
    border-radius: .3rem;
    padding: .2rem .6rem;
    white-space: pre;
  }

  .intro {
    flex-direction: row;
  }

  .intro > * {
    flex: 1;
  }

  .intro-video {
    margin-left: 3rem;
    position: relative;
  }

  /* modal - disabled */
  /*
  .intro-video-play {
    border: 0;
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .intro-video-play:focus {
    opacity: 0;
    pointer-events: none;
  }

  .intro-video-play:target {
    pointer-events: none;
  }

  .intro-video-play:focus ~ div {
    background: rgba(0,0,0,.9);
    border: 30px solid transparent;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    width: 100%;
  }
  */

  /*li*/[itemprop="browser"] [itemprop="name"] {
    margin-top: 1rem;
  }
}

@media all and (min-width: 44.999rem) and (max-width: 52.499rem) {
  .intro-para {
    font-size: 1.5rem;
    line-height: 1.6;
  }
}

@media all and (min-width: 60rem) {
  .intro-para {
    font-size: 2rem;
    line-height: 1.6;
  }

  ul[data-section] {
    justify-content: space-between;
  }

  ul[data-section] li {
    flex-basis: auto;
    width: auto;
  }

  .main ul[data-section] li:nth-child(3n) {
    padding-right: 1rem;
  }

  .main ul[data-section] li:last-child {
    padding-right: 0;
  }
}
