@import 'andlight.css';
@import 'common.css';

@import url(https://fontlibrary.org/face/nimbus-sans-l);
@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:200,300,400,500,600,700,800,900);

body {
  font-family: Libre Franklin, Helvetica Neue, Helvetica, sans-serif;
}

.hidden-text {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  width: 1px;
}

.license {
  display: none;
}

h1 {
  font: bold 3rem NimbusSanLBold;
}

header {
  border-bottom-width: 0;
  padding-bottom: 0;
}

.page-header {
  background: #111;
}

.page-header .grid-flex-container {
  align-items: center;
}

[data-headset="htc_vive"] .headset-header {
  background: #00b5e2;
}

[data-page="index"] .page-header,
[data-page="index"] .page-header h1 {
  color: #f012be;
}

[data-headset="htc_vive"] .headset-header,
[data-headset="htc_vive"] .headset-header h1 {
  color: #fff;
}

html[data-browser] body > .header {
  border-bottom-width: 1px;
  padding: 30px;
}

.header *:last-child {
  margin-bottom: 0;
}

.header .button {
  margin-bottom: 15px;
}

.company-logo {
  width: 100px;
}

.browser-header {
  display: flex;
  flex-direction: column-reverse;
}

.browser-name {
  flex: 1;
  font-size: 2rem;
  font-weight: 800;
  margin-top: 15px;
}

.browser-icon {
  max-width: 100px;
}

.page-title {
  padding: 15px 30px;
}

.headset-icon-wrap {
  padding: 15px 30px;
}

.headset-icon {
  display: inline-block;
  max-height: 100px;
}

.headset-logo-wrap {
  background: #111;
  display: block;
  padding: 30px;
}

.headset-logo {
  display: block;
  max-width: 200px;
}

[data-headset="htc_vive"] .headset-icon-wrap {
  padding-bottom: 0;
  padding-top: 15px;
}

.main {
  /*padding: 30px;*/
}

section {
  padding: 0;
}

.main .section {
  padding: 30px;
}

.main section h2,
.main section h3,
.main section h4,
.main section h5,
.main section p,
.main section dl,
.main section ol,
.main section ul {
  max-width: 600px;
}

.main .section > *:first-child {
  margin-top: 0;
}

.main .section > *:last-child {
  margin-bottom: 0;
}

.info dd {
  display: none;
}

.info dt:target + dd {
  display: block;
}

.main li + li {
  margin-top: 15px;
}

.main dt + dd {
  padding-bottom: 15px;
}

dd .button-download {
  margin-bottom: 10px;
  margin-top: 10px;
}

.authors__list {
  margin-top: 10px;
}

.authors__list li + li {
  margin-top: 5px;
}

*[class*='button-outlined'].button-small {
  padding: 3px 5px;
}

li .button {
  margin: 0 5px;
}

li .button:first-child {
  margin-left: 0;
}

/* tablet */
@media screen and (max-width: 768px) {
  body {
    border-width: 0;
  }
}

@media screen and (min-width: 769px) {
  body {
    border-width: 0;
  }

  .headset-icon-wrap {
    text-align: right;
  }

  .headset-icon {
    max-height: 200px;
  }
}

/* mid-sized mobile */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 599px) {
  .header .button + .button {
    margin-left: 15px;
  }
}

/* larger than tablet but smaller than desktop */
@media screen and (min-width: 481px) and (max-width: 900px) {
  .container {
    width: 100%;
  }
}

/* desktop */
@media screen and (min-width: 901px) {
  .container {
    width: 100%;
  }
}
