<!--
{% for k, v in item %}
  {{ k }}: {{ v }}
{% endfor %}
-->

{% set screenshots = item.screenshots|stripAndSplit(',') %}

{% if item.name and item.url and screenshots.length and item.description %}
  {% set id = item.id or loop.index %}
  <li class="list-item" id="item-{{ id }}"
      data-id="{{ id }}"

      data-support-for-htc-vive="{{ item.support_for_htc_vive }}"
      data-requirement-for-htc-vive="{{ item.support_for_htc_vive }}"

      data-support-for-oculus-rift="{{ item.support_for_oculus_rift }}"
      data-requirement-for-oculus-rift="{{ item.support_for_oculus_rift }}"

      data-support-for-samsung-gear-vr="{{ item.support_for_samsung_gear_vr }}"
      data-requirement-for-samsung-gear-vr="{{ item.support_for_samsung_gear_vr }}"

      data-support-for-chromium-desktop="{{ item.support_for_chromium_desktop }}"
      data-requirement-for-chromium-desktop="{{ item.support_for_chromium_desktop }}"

      data-support-for-firefox-desktop="{{ item.support_for_firefox_desktop }}"
      data-requirement-for-firefox-desktop="{{ item.support_for_firefox_desktop }}"
  >
    <a class="list-item-link" href="{{ item.url }}">
      <strong class="list-item-name">{{ item.name }}</strong>
      {% if screenshots.length %}
        <span class="list-item-screenshots">
          {% for src in screenshots %}
            <img class="list-item-screenshot" src="{{ src }}" alt="{{ item.name }}">
          {% endfor %}
        </span>
      {% endif %}
      <div class="list-item-description{% if screenshots.length %} list-item-description-pad{% endif %}">{{ item.description|md }}</div>
    </a>

    {% for url in item.video_urls|stripAndSplit(',') %}
      {% if 'youtube.com/' in url or 'youtu.be/' in url %}
        <div class="list-item-video-wrap">
          {{ url|embedvideo }}
        </div>
        <a class="list-item-text-link list-item-video-link item-video-link-youtube" href="{{ url }}">View video on YouTube</a>
      {% elif 'vimeo.com/' in url %}
        <div class="list-item-video-wrap">
          {{ url|embedvideo }}
        </div>
        <a class="list-item-text-link list-item-video-link item-video-link-vimeo" href="{{ url }}">View video on Vimeo</a>
      {% elif '.mp4' in url %}
        <video src="{{ url }}"></video>
        <a class="list-item-text-link list-item-video-link item-video-link-raw" href="{{ url }}" download>Download video</a>
      {% else %}
        <a class="list-item-text-link list-item-video-link" href="{{ url }}">View video</a>
      {% endif %}
    {% endfor %}

    {% for url in item.source_code_url|stripAndSplit(',') %}
      {% if 'github.com/' in url %}
        <a class="list-item-text-link list-item-source-code-url list-item-source-code-url-github github-edit-page-link" href="{{ url }}">View source on GitHub</a>
      {% elif 'shadertoy.com/' in url %}
        <a class="list-item-text-link list-item-source-code-url list-item-source-code-url-shadertoy" href="{{ url }}">View source on Shadertoy</a>
      {% else %}
        <a class="list-item-text-link list-item-source-code-url" href="{{ url }}">View source</a>
      {% endif %}
    {% endfor %}

    {% if item.edit_url %}
      <a class="list-item-text-link list-item-edit-link" href="{{ item.edit_url }}">Edit this item</a>
    {% endif %}
  </li>
{% endif %}
