{% extends 'layout.html' %}

{% block header %}
{% endblock %}

{% block body %}
  {{ body|safe }}
  <section>
    <h1>How WebVR works</h1>
    <div class="column-wrapper">
      <div class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0I-Ft_0i2k4" frameborder="0" allowfullscreen></iframe>
      </div>
      <div>
        <ul>
          <li><a href="/headsets">Help me choose a Headset</a></li>
          <li><a href="/browsers">Download browser</a></li>
          <li><a href="/getting-started/troubleshooting">Troubleshooting</a></li>
        </ul>
      </div>
    </div>
  </section>
  <div class="column-wrapper">
    <div>
      <section>
        <h1 class="latest" id="latest">Latest in WebVR</h1>

        <ul>
          <li class="news-item">
            <div class="news-image"><img src="news/2016/12/img/react.png"></div>
            <div>
              <span class="headline"><a href="news/2016/12/oculus-releases-developer-preview-of-react-vr">Oculus releases developer preview of React VR.</a></span>
              <time>December 13</time>
            <div>
          </li>
          <li class="news-item">
            <div class="news-image"><img src="news/2016/12/img/w3c.jpg"></div>
            <div>
              <span class="headline"><a href="news/2016/12/w3c-workshop-on-web-and-virtual-reality-a-look-ahead">W3C workshop on WebVR - A Look ahead</a></span>
              <time>December 9</time>
            <div>
          </li>
          <li class="news-item">
            <div class="news-image"><img src="news/2016/12/img/chrome.png"></div>
            <div>
              <span class="headline"><a href="news/2016/12/webvr-available-as-origin-trial-on-chrome-56">WebVR available as Origin Trial in Chrome</a></span>
              <time>December 9</time>
            </p>
          </div>
          <li class="news-item">
            <div class="news-image"><img src="news/2016/12/img/carmel.jpg"></div>
            <div>
              <span class="headline"><a href="news/2016/12/oculus-carmel-developer-preview-launch">Carmel Developer preview release</a></span>
              <time>December 9</time>
            </p>
          </div>
          <li class="news-item">
            <div class="news-image"><img src="news/2016/12/img/firefox-nightly.png"></div>
            <div>
              <span class="headline"><a href="">Vive controller support availble in Firefox Nightly</a></span>
              <time>November, 28</time>
            </p>
          </div>
        </ul>

        <p><a href="/news">See more news</a></p>
      </section>
      <section>
        <h1>Articles</h1>

        <ul>
          <li class="article-item">
            <div class="article-image"><img src="article/export-blender-to-aframe/img/demo-cv1-model.png"></div>
            <div>
              <span class="headline"><a href="article/export-blender-to-aframe">Importing your blender model into WebVR</a></span>
              <p>By <a href="/" itemprop="author" itemscope="" itemtype="https://schema.org/Person"><span itemprop="name">Erica Layton</span></a></p>
              <time>December 9</time>
            </div>
          </li>
        </ul>
      </section>

      <p><a href="/article">See more articles</a></p>
    </div>
    <div>
      <section>
        <h1>Showcase</h1>

        <ul>
          <li>
            <span class="headline">PoolVR</span>
            <img src="https://dl.airtable.com/ftKXN9hYTNXYnJJIPG5Q_poolvr-0.1.0-02162016.png">
            <p>
              Play billiards with your leap motion or HTC VIVE Controllers!
            </p>
          </li>
        </ul>

        <p><a href="/showcase">See more in Showcaes</a></p>
      </section>

      <section>
        <h1>Useful links</h1>

        <ul>
          <li><a href="webvr.info">webvr.info</a></li>
          <li><a href="iswebvrready.com">iswebvrready.com</a></li>
          <li><a href="webvr-slack.herokuapp.com">WebVR on Slack</a></li>
          <li><a href="reddit.com/r/webvr">Reddit /r/webvr</a></li>
        </ul>
      </section>
    </div>
  </div>

{% endblock %}
