<!--
source_url: https://webvr-6345b.firebaseio.com/webvrrocks/webvr_scenes.json
edit_url: https://docs.google.com/spreadsheets/d/1K8HArN12v_XQqv8NiNcFNmRW0bGv4Zkn7XAJlY3vth0/edit
-->

{% extends 'layout.html' %}

{% block header_top %}
  <h1>{{ page.title }}</h1>
  <p class="edit-options">
    <a href="{{ page.edit_url }}" data-default-href="{{page.edit_url}}" class="googlesheets-edit-page-link edit-page-link edit-sheets-link" id="edit-sheets-link"><span>Edit this list</span></a>
  </p>
{% endblock %}

{% block footer_top %}
  <p class="edit-options">
    <a href="{{ page.edit_url }}" data-default-href="{{page.edit_url}}" class="googlesheets-edit-page-link edit-page-link edit-sheets-link" id="edit-sheets-link"><span>Edit this list</span></a>
  </p>
{% endblock %}

{% block body %}
  {{ body|safe }}
  <div id="showcase-container" class="showcase-container">
    <form id="showcase-form" class="showcase-form" action="" method="get">
      <fieldset>
        <legend>Filters</legend>
        <label>
          <span class="label-text">Headset</span>
          <select name="headset">
            <option value="">Any</option>
            <option value="htc-vive">HTC Vive</option>
            <option value="oculus-rift">Oculus Rift</option>
            <option value="samsung-gear-vr">Samsung Gear VR</option>
            <option value="osvr-hdk2">OSVR HDK2</option>
          </select>
        </label>
        <label>
          <span class="label-text">Browser</span>
          <select name="browser">
            <option value="">Any</option>
            <option value="firefox">Mozilla Firefox</option>
            <option value="chromium">Chromium</option>
            <option value="samsung-internet-browser-for-gear-vr">Samsung Gear VR</option>
            <option value="google-cardboard">Google Cardboard</option>
            <option value="google-daydream">Google Daydream</option>
          </select>
        </label>
      </fieldset>
    </form>
    <ul id="showcase-list" class="showcase-list">
      {% for item in page.data.index|sort(false, false, 'name') %}
        {% include 'fragment-showcase-item.html' %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}
