{% extends 'layout.html' %}

{% block header %}
{% endblock %}

{% block body %}
  {{ body|safe }}
  <section id="getting-started" class="getting-started" data-section="getting-started">
    <section class="column-container">
      <div class="auto-column gutter">
        <h1>Getting started</h1>
      </div>
      <div class="column gutter">
        <a href="#updates" class="hidden-text" aria-expanded="false" aria-controls="getting-started" tabindex="0">Hide</a>
      </div>
    </section>

    <section class="column-container">
      <div class="two-column gutter">
        <div class="video-wrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/0I-Ft_0i2k4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="two-column gutter">
        <ul class="start-grid column-container">
          <li class="column"><a class="getting-started-icon getting-started-icon-choose-headset" href="/headsets">
            <svg class="icon icon-headset" width="70"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-headset"></use></svg><span class="icon-label"> Help me choose a headset</span>
          </a></li>
          <li class="column"><a class="getting-started-icon getting-started-icon-download-browser" href="/browsers">
            <svg class="icon icon-download-browser" width="70"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download-browser"></use></svg><span class="icon-label"> Download a WebVR browser</span>
          </a></li>
          <li class="column"><a class="getting-started-icon getting-started-icon-help-browser" href="/getting-started/troubleshooting">
            <svg class="icon icon-help-browser" width="70"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-help-browser"></use></svg><span class="icon-label"> Troubleshooting and feedback</span>
          </a></li>
          <li class="column"><a class="getting-started-icon getting-started-icon-remix" href="/getting-started/troubleshooting">
            <svg class="icon icon-remix" width="70"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-remix"></use></svg><span class="icon-label"> Browse code samples to remix</span>
          </a></li>
        </ul>
      </div>
    </section>
  </section>

  <section class="latest-section" data-section="latest">
    <h1 class="latest" id="latest">Latest in WebVR</h1>
    <ul>
      <li class="news-item">
        <div class="column-container">
          <div class="auto-column gutter">
            <div class="news-image"><img src="news/2016/12/img/w3c.jpg"></div>
          </div>
          <div class="column gutter">
            <div class="column-item">
              <span class="headline"><a href="/news/2016/12/w3c-workshop-on-web-and-virtual-reality-a-look-ahead">W3C workshop on WebVR - A Look Ahead</a></span>
              <time>December 9</time>
            </div>
          </div>
        </div>
      </li>
      <li class="news-item">
        <div class="column-container">
          <div class="auto-column gutter">
            <div class="news-image"><img src="news/2016/12/img/chrome.png"></div>
          </div>
          <div class="column gutter">
            <div class="column-item">
              <span class="headline"><a href="/news/2016/12/webvr-available-as-origin-trial-on-chrome-56">WebVR available as Origin Trial in Chrome</a></span>
              <time>December 9</time>
            </div>
          </div>
        </div>
      </li>
      <li class="news-item">
        <div class="column-container">
          <div class="auto-column gutter">
            <div class="news-image"><img src="news/2016/12/img/carmel.jpg"></div>
          </div>
          <div class="column gutter">
            <div class="column-item">
              <span class="headline"><a href="/news/2016/12/oculus-carmel-developer-preview-launch">Carmel Developer preview release</a></span>
              <time>December 9</time>
            </div>
          </div>
        </div>
      </li>
      <li class="news-item">
        <div class="column-container">
          <div class="auto-column gutter">
            <div class="news-image"><img src="news/2016/12/img/firefox-nightly.png"></div>
          </div>
          <div class="column gutter">
            <div class="column-item">
              <span class="headline"><a href="">Vive controller support availble in Firefox Nightly</a></span>
              <time>November 28</time>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <p class="more"><a href="/news">Read more news</a></p>
  </section>

  <!--
  <section id="articles" data-section="articles">
    <h1>Articles</h1>

    <ul>
      <li class="article-item">
        <div class="article-image"><img src="article/export-blender-to-aframe/img/demo-cv1-model.png"></div>
        <div>
          <span class="headline"><a href="article/export-blender-to-aframe">Importing your blender model into WebVR</a></span>
          <p>We will show you the basics of exporting a Blender model from Sketchfab and using it in A-Frame in both Wavefront (.obj) and COLLADA (.dae) formats.</p>
          <p>By <a href="/" itemprop="author" itemscope="" itemtype="https://schema.org/Person"><span itemprop="name">Erica Layton</span></a></p>
          <time>December 9</time>
        </div>
      </li>
      <li class="article-item">
        <div class="article-image"><img src="article/roomscale-scaling/img/objects-for-scale.jpg"></div>
        <div>
          <span class="headline"><a href="article/roomscale-scaling">5-Minute Guide: Scaling for Roomscale WebVR</a></span>
          <p>By <a href="/" itemprop="author" itemscope="" itemtype="https://schema.org/Person"><span itemprop="name">Erica Layton</span></a></p>
          <p>In this guide, I unpack the question: how do we create objects in WebVR that are scaled for the real live humans who are experiencing the site using roomscale VR?</p>
          <time>December 9</time>
        </div>
      </li>
    </ul>
    <p class="more"><a href="/article">See more articles</a></p>
  </section>
  -->

  <section class="column gutter" data-section="showcase">
    <h1>Showcase</h1>

    <ul>
      <li>
        <span class="headline">PoolVR</span>
        <img src="https://dl.airtable.com/ftKXN9hYTNXYnJJIPG5Q_poolvr-0.1.0-02162016.png">
        <p>
          Play billiards with your leap motion or HTC VIVE Controllers!
        </p>
      </li>
    </ul>

    <p class="more"><a href="/showcase">More sites</a></p>
  </section>

  <footer id="useful-links" class="footer useful-links" data-section="useful-links">
    <h1>Useful links</h1>
    <ul>
      <li><a href="https://webvr.info">webvr.info</a></li>
      <li><a href="https://iswebvrready.org">iswebvrready.com</a></li>
      <li><a href="https://webvr-slack.herokuapp.com">WebVR on Slack</a></li>
      <li><a href="https://reddit.com/r/webvr">Reddit /r/webvr</a></li>
    </ul>
  </section>
{% endblock %}
