@import '../settings'

.getting-started
  background color-branding-primary

  h1,
  h1 a
    color #fff

.main .getting-started h1
  margin 1rem 0 -.5rem

/* getting started */
.start-grid
  a
    &:visited,
    &:active
      color color-white
