@font-face {
  font-family: 'SF UI Display';
  src: url(../fonts/SFUIDisplay-Semibold.eot);
  src: local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
    url(../fonts/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype),
    url(../fonts/SFUIDisplay-Semibold.woff2') format('woff2),
    url(../fonts/SFUIDisplay-Semibold.woff') format('woff),
    url(../fonts/SFUIDisplay-Semibold.ttf') format('truetype),
    url(../fonts/SFUIDisplay-Semibold.svg#SFUIDisplay-Semibold') format('svg);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url(../fonts/SFUIDisplay-Black.eot);
  src: local('SF UI Display Black'), local('SFUIDisplay-Black'),
    url(../fonts/SFUIDisplay-Black.eot?#iefix') format('embedded-opentype),
    url(../fonts/SFUIDisplay-Black.woff2') format('woff2),
    url(../fonts/SFUIDisplay-Black.woff') format('woff),
    url(../fonts/SFUIDisplay-Black.ttf') format('truetype),
    url(../fonts/SFUIDisplay-Black.svg#SFUIDisplay-Black') format('svg);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url(../fonts/SFUIDisplay-Bold.eot);
  src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
    url(../fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype),
    url(../fonts/SFUIDisplay-Bold.woff2') format('woff2),
    url(../fonts/SFUIDisplay-Bold.woff') format('woff),
    url(../fonts/SFUIDisplay-Bold.ttf') format('truetype),
    url(../fonts/SFUIDisplay-Bold.svg#SFUIDisplay-Bold') format('svg);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url(../fonts/SFUIDisplay-Light.eot);
  src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
    url(../fonts/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype),
    url(../fonts/SFUIDisplay-Light.woff2') format('woff2),
    url(../fonts/SFUIDisplay-Light.woff') format('woff),
    url(../fonts/SFUIDisplay-Light.ttf') format('truetype),
    url(../fonts/SFUIDisplay-Light.svg#SFUIDisplay-Light') format('svg);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url(../fonts/SFUIDisplay-Regular.eot);
  src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
    url(../fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype),
    url(../fonts/SFUIDisplay-Regular.woff2') format('woff2),
    url(../fonts/SFUIDisplay-Regular.woff') format('woff),
    url(../fonts/SFUIDisplay-Regular.ttf') format('truetype),
    url(../fonts/SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format('svg);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url(../fonts/SFUIDisplay-Medium.eot);
  src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'),
    url(../fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype),
    url(../fonts/SFUIDisplay-Medium.woff2') format('woff2),
    url(../fonts/SFUIDisplay-Medium.woff') format('woff),
    url(../fonts/SFUIDisplay-Medium.ttf') format('truetype),
    url(../fonts/SFUIDisplay-Medium.svg#SFUIDisplay-Medium') format('svg);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url(../fonts/SFUIDisplay-Ultralight.eot);
  src: local('SF UI Display Ultralight'), local('SFUIDisplay-Ultralight'),
    url(../fonts/SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype),
    url(../fonts/SFUIDisplay-Ultralight.woff2') format('woff2),
    url(../fonts/SFUIDisplay-Ultralight.woff') format('woff),
    url(../fonts/SFUIDisplay-Ultralight.ttf') format('truetype),
    url(../fonts/SFUIDisplay-Ultralight.svg#SFUIDisplay-Ultralight') format('svg);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url(../fonts/SFUIDisplay-Heavy.eot);
  src: local('SF UI Display Heavy'), local('SFUIDisplay-Heavy'),
    url(../fonts/SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype),
    url(../fonts/SFUIDisplay-Heavy.woff2') format('woff2),
    url(../fonts/SFUIDisplay-Heavy.woff') format('woff),
    url(../fonts/SFUIDisplay-Heavy.ttf') format('truetype),
    url(../fonts/SFUIDisplay-Heavy.svg#SFUIDisplay-Heavy') format('svg);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url(../fonts/SFUIDisplay-Thin.eot);
  src: local('SF UI Display Thin'), local('SFUIDisplay-Thin'),
    url(../fonts/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype),
    url(../fonts/SFUIDisplay-Thin.woff2') format('woff2),
    url(../fonts/SFUIDisplay-Thin.woff') format('woff),
    url(../fonts/SFUIDisplay-Thin.ttf') format('truetype),
    url(../fonts/SFUIDisplay-Thin.svg#SFUIDisplay-Thin') format('svg);
  font-weight: 100;
  font-style: normal;
}
