{% macro author_item (slug, classes, id) %}
  {% includeData slug + '.json' as person %}
  <li class="authors__item{% if class %} {{ classes }}{% endif %}"{% if id %} id="{{ id }}"{% endif %}>
    <span class="authors__item__author" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <figure>
        <a class="authors__item__url" href="{{ person.twitter_url }}" itemprop="url"><img itemprop="image" class="authors__item__gravatar" src="{{ person.image }}" alt="{{ person.name }}" width="40"></a>
        <figcaption><a class="authors__item__url" href="{{ person.twitter_url }}" itemprop="url"><span class="authors__item__url" itemprop="name">{{ person.name }}</span></a> (<a href="{{ person.worksFor.url }}" itemprop="organization">{{ person.worksFor.name }}</a>)</figcaption>
      </figure>
    </span>
  </li>
{% endmacro %}

{% includeData 'chromium.json' as chromium %}
{% includeData 'firefox.json' as firefox %}
{% includeData 'samsung_internet.json' as samsung_internet %}
{% includeData 'oculus_carmel.json' as oculus_carmel %}
{% includeData 'chrome_for_android.json' as chrome_for_android %}
{% includeData 'microsoft_edge.json' as microsoft_edge %}
{% includeData 'servo.json' as servo %}

{# includeData '_db/webvr_scenes.json' as sites #}
{# includeData '_db/bugs.json' as bugs #}
{# includeData '_db/compat_reports.json' as compat_reports #}
{# includeData '_db/people.json' as people #}

{# set db = {
  sites: sites,
  bugs: bugs,
  compat_reports: compat_reports,
  people: people
} #}

{% set browsers = {
  chromium: chromium,
  firefox: firefox,
  samsung_internet: samsung_internet,
  oculus_carmel: oculus_carmel,
  chrome_for_android: chrome_for_android,
  microsoft_edge: microsoft_edge,
  servo: servo
} %}

{% macro browser_platform_support (browser, headset, os) %}
  {% set support = browser.platforms[headset][os] %}
  {% if support === 'supported' %}
    {% set classes = 'no-underline supported' %}
    {% set title = 'Supported' %}
    {% set text = '✅' %}
  {% elif support === 'headset_unsupported' %}
    {% set classes = 'no-underline unsupported' %}
    {% set title = 'Unsupported OS by headset maker' %}
    {% set text = '❌' %}
  {% elif support === 'browser_unsupported' %}
    {% set classes = 'no-underline unsupported' %}
    {% set title = 'Unsupported browser support' %}
    {% set text = '❌' %}
  {% endif %}
  {% if title %}
    <a class="{{ classes }}" title="{{ title }}" href="{{ browsers.about }}#{{ os }}">{{ text }}</a>
  {% endif %}
{% endmacro %}

{% macro browser_item (slug, classes, id) %}
  {% set browser = browsers[slug] %}
  {% if not browser %}
    {% includeData slug + '.json' as browser %}
  {% endif %}
  <li itemprop="browser" itemscope itemtype="http://schema.org/SoftwareApplication" data-slug="{{ browser.slug }}" class="grid-flex-cell-1of2{% if class %} {{ classes }}{% endif %}" {% if id %} id="{{ id }}"{% endif %}>
    <div class="browser-details">
      <a itemprop="url" href="{{ browser.about }}" class="no-underline">
        <div itemprop="image" style="background-image: url({{ browser.logo }})">
        </div>
        <!-- <img itemprop="image" class="browser-icon" src="{{ browser.logo }}" alt="{{ browser.name }}" title="{{ browser.name }}"> -->
        <span itemprop="name" class="browser-name">{{ browser.name }}</span>
      </a>
      <span itemprop="description">{{ (browser.description_html or browser.description)|safe }}</span>
      <table class="table-support table-outlined table-with-hover">
        <thead>
          <tr>
            <th></th>
            <th data-platform="windows"><a class="no-underline" href="/windows"><span class="hidden-text">Windows</span></a></th>
            <th data-platform="mac"><a class="no-underline" href="/mac"><span class="hidden-text">Mac</span></a></th>
            <th data-platform="linux"><a class="no-underline" href="/linux"><span class="hidden-text">Linux</span></a></th>
            <th data-platform="android"><a class="no-underline" href="/android"><span class="hidden-text">Android</span></a></th>
            <th data-platform="ios"><a class="no-underline" href="/ios"><span class="hidden-text">iOS</span></a></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th data-headset="htc_vive"><a class="no-underline" href="/htc_vive"><span class="hidden-text">HTC Vive</span></a></th>
            <td>{{ browser_platform_support(browser, 'htc_vive', 'windows') }}></td>
            <td>{{ browser_platform_support(browser, 'htc_vive', 'mac') }}</td>
            <td>{{ browser_platform_support(browser, 'htc_vive', 'linux') }}</td>
            <td>{{ browser_platform_support(browser, 'htc_vive', 'android') }}></td>
            <td>{{ browser_platform_support(browser, 'htc_vive', 'ios') }}</td>
          </tr>
          <tr>
            <th data-headset="oculus_rift"><a class="no-underline" href="/oculus_rift"><span class="hidden-text">Oculus Rift</span></a></th>
            <td>{{ browser_platform_support(browser, 'oculus_rift', 'windows') }}</td>
            <td>{{ browser_platform_support(browser, 'oculus_rift', 'mac') }}</td>
            <td>{{ browser_platform_support(browser, 'oculus_rift', 'linux') }}</td>
            <td>{{ browser_platform_support(browser, 'oculus_rift', 'android') }}</td>
            <td>{{ browser_platform_support(browser, 'oculus_rift', 'ios') }}</td>
          </tr>
          <tr>
            <th data-headset="samsung_gear_vr"><a class="no-underline" href="/samsung_gear_vr"><span class="hidden-text">Samsung Gear VR</span></a></th>
            <td>{{ browser_platform_support(browser, 'samsung_gear_vr', 'windows') }}</td>
            <td>{{ browser_platform_support(browser, 'samsung_gear_vr', 'mac') }}</td>
            <td>{{ browser_platform_support(browser, 'samsung_gear_vr', 'linux') }}</td>
            <td>{{ browser_platform_support(browser, 'samsung_gear_vr', 'android') }}</td>
            <td>{{ browser_platform_support(browser, 'samsung_gear_vr', 'ios') }}</td>
          </tr>
          <tr>
            <th data-headset="google_daydream"><a class="no-underline" href="/google_daydream"><span class="hidden-text">Google Daydream</span></a></th>
            <td>{{ browser_platform_support(browser, 'google_daydream', 'windows') }}</td>
            <td>{{ browser_platform_support(browser, 'google_daydream', 'mac') }}</td>
            <td>{{ browser_platform_support(browser, 'google_daydream', 'linux') }}</td>
            <td>{{ browser_platform_support(browser, 'google_daydream', 'android') }}</td>
            <td>{{ browser_platform_support(browser, 'google_daydream', 'ios') }}</td>
          </tr>
          <tr>
            <th data-headset="google_cardboard"><a class="no-underline" href="/google_cardboard"><span class="hidden-text">Google Cardboard</span></a></th>
            <td>{{ browser_platform_support(browser, 'google_cardboard', 'windows') }}</td>
            <td>{{ browser_platform_support(browser, 'google_cardboard', 'mac') }}</td>
            <td>{{ browser_platform_support(browser, 'google_cardboard', 'linux') }}</td>
            <td>{{ browser_platform_support(browser, 'google_cardboard', 'android') }}</td>
            <td>{{ browser_platform_support(browser, 'google_cardboard', 'ios') }}</td>
          </tr>
          <tr>
            <th data-headset="microsoft_hololens"><a class="no-underline" href="/microsoft_hololens"><span class="hidden-text">Microsoft Hololens</span></a></th>
            <td>{{ browser_platform_support(browser, 'microsoft_hololens', 'windows') }}</td>
            <td>{{ browser_platform_support(browser, 'microsoft_hololens', 'mac') }}</td>
            <td>{{ browser_platform_support(browser, 'microsoft_hololens', 'linux') }}</td>
            <td>{{ browser_platform_support(browser, 'microsoft_hololens', 'android') }}</td>
            <td>{{ browser_platform_support(browser, 'microsoft_hololens', 'ios') }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
{% endmacro %}

{% macro youtube (src, width, height, classes, id) %}
  <div class="iframe-container{% if classes %} {{ classes }}{% endif %}" {% if id %} id="{{ id }}"{% endif %}>
    <iframe class="iframe" width="{{ width or '560' }}" height="{{ height or '315' }}" src="{{ src }}" frameborder="0" allowfullscreen="true"></iframe>
  </div>
{% endmacro %}
