{% from '_helpers.html' import author_item, browser_item, browsers, compat_report_row, demo_item, headsets, site_title, youtube %}
{% set headset = headsets[slug] %}
{% set page = slug + '.html' %}
<!doctype html>
<html lang="en" data-layout="secondary headset {{ headset.slug }}" data-headset="{{ headset.slug }}" data-page="{{ page }}">
  <head>
    {% include '_head.html' %}
    <title>{% block title %}{{ title or headset.name }} • {{ site_title }}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <header id="header" class="header" role="banner">
      <div class="container section">
        {% include '_logo.html' %}

        <a class="page-heading-link" href="{{ headset.about }}">
          <h1 class="headset-name page-heading">{{ headset.name }}</h1>
          <img class="headset-icon page-heading-icon" src="{{ headset.logo }}" alt="{{ headset.name }}" title="{{ headset.name }}">
        </a>

        {% if headset.description_html or headset.description %}
          <p class="headset-intro page-intro">{{ headset.description_html|safe if headset.description_html else description }}</p>
        {% endif %}

        {% if headset.updates %}
          <div class="headset-updates">
            {% block headset_updates %}
              {% for message in headset.updates %}
                {% if message.description %}
                  <p class="message{{ ' message-' + message.type if message.type }}">
                    {{ message.description }}
                  </p>
                {% endif %}
              {% endfor %}
            {% endblock %}
          </div>
        {% endif %}

        {% if headset.image %}
          <!--
          <figure class="media">
            <a href="{{ headset.image }}"><img src="{{ headset.image }}" alt="{{ headset.name }}" width="450"></a>
            <figcaption class="hidden-text">{{ headset.name }}</figcaption>
          </figure>
          -->
        {% endif %}

        {% if headset.pictogram %}
          <figure class="media">
            <a itemprop="pictogram" href="{{ headset.pictogram }}">{% include headset.pictogram.replace('/' + headset.slug, headset.slug) %}</a>
            <figcaption class="hidden-text">{{ headset.name }}</figcaption>
          </figure>
        {% endif %}
      </div>
    </header>

    <main id="main" class="main" role="main">
      <div class="container">
        {% block instructions_block %}
          <section id="setup" class="section setup" data-section="setup">
            <h2><a href="#setup">{{ instructions_heading or instructions_title or 'Setup instructions' }}</a></h2>
            {% block instructions %}
            {% endblock %}
          </section>
        {% endblock %}

        {% block browsers_block %}
          <section id="browsers" class="section browsers" data-section="browsers">
            <h2><a href="#browsers">{{ demos_heading or demos_title or 'Supported browsers' }}</a></h2>
            {% block browsers %}
            {% endblock %}
          </section>
        {% endblock %}

        {% block demos_block %}
          <section id="demos" class="section demos" data-section="demos">
            <h2><a href="#demos">{{ demos_heading or demos_title or 'Demos' }}</a></h2>
            <ul data-section="demos" class="matrix grid-flex-container">
              {% block demos %}
              {% endblock %}
            </ul>
          </section>
        {% endblock %}

        {% block links_block %}
          <section id="links" class="section info links" data-section="info links">
            <div id="info"></div>
            <h2><a href="#links">{{ links_heading or links_title or info_heading or info_title or 'Links' }}</a></h2>
            {% block links %}
            {% endblock %}
          </section>
        {% endblock %}

        {% block faq_block %}
          <section id="faq" class="section faq" data-section="faq">
            <h2><a href="#faq">{{ faq_heading or faq_title or 'FAQ' }}</a></h2>
            {% block faq %}
            {% endblock %}
          </section>
        {% endblock %}
      </div>
    </main>

    {% block footer_block %}
      {% include '_footer.html' %}
    {% endblock %}
  </body>
</html>
