<section class="notifications" id="notifications">
  {% for message in browser.notifications %}
    {% set type = message.type if (message.type == 'error' or message.type == 'alert' or message.type == 'success') %}
    {% set message_id = 'message-' + page.replace('.html', '') + '-' + loop.index %}
    <div class="message{{ ' message-' + type if type }}{{ ' message-dismissable' if message.dismissable }}" aria-expanded="true" id="{{ message_id }}">
      <p>
        {% if message.content_html %}
          {{ message.content_html|safe }}
        {% elif message.content %}
          {{ message.content }}
        {% else %}
          {{ message }}
        {% endif %}
      </p>
      {% if message.dismissable %}
        <a class="close" title="close">&times;</a>
      {% endif %}
    </div>
  {% endfor %}
</section>
