{% from '_helpers.html' import author_item, browsers, site_title %}
{% set browser = browsers.chrome_for_android %}
{% set page = 'chrome_for_android.html' %}
<!doctype html>
<html lang="en" data-layout="secondary" data-browser="{{ browser.slug }}">
  <head>
    {% include '_head.html' %}
    <title>{{ browser.name }} • {{ site_title }}</title>
  </head>
  <body>
    <header id="header" class="header" role="banner">
      <div class="container section">
        {% include '_logo.html' %}

        <a class="page-heading-link" href="{{ browser.about }}">
          <h1 class="browser-name page-heading">{{ browser.name }}</h1>
          <img class="browser-icon page-heading-icon" src="{{ browser.logo }}" alt="{{ browser.name }}" title="{{ browser.name }}">
        </a>

        <p class="browser-intro page-intro">{{ (browser.description_html or browser.description)|safe }}</p>

        <p class="message message-alert">
          <strong>Warning:</strong> WebVR support in <a href="#releases">Chrome for Android</a> is highly experimental and subject to change!
        </p>

        {% if browser.releases %}
          <div id="download" class="download dropdown-standalone dropdown-download">
            <a href="{{ browser.downloadUrl }}" itemprop="downloadUrl" class="button button-unstyled button-large button-download" data-download-name="{{ browser.slug }}" data-download-id="{{ browser.releases.latest.buildInfo.buildid }}">Download {% include "media/img/download-icon.svg" %} <span class="download-info c"><span class="download-date">{{ browser.releases.latest.dateReleased.datetimeString }}</span> <span class="download-size">{{ browser.releases.latest.fileSize }}</span></span></a>
          </div>
          {% if browser.sourceCodeUrl %}
            <p class="view-source">
              <a href="{{ browser.sourceCodeUrl }}" class="button-source no-underline">View source</a>
            </p>
          {% endif %}
        </div>
      {% endblock %}
    </header>

    <main id="main" class="main" role="main">
      <div class="container">

        <section id="setup" class="section setup" data-section="setup">
          <h2><a href="#setup">Instructions</a></h2>
          <ol class="bullets-light">
            <li><span><a href="{{ browser.downloadUrl }}">Download this experimental build of Chromium for Android</a> on your mobile device.</span></li>
            <li><span>Enjoy WebVR content!</span></li>
          </ol>
          <p class="note"><strong>Warning:</strong> Until the stability of WebVR improves (soon in upcoming releases), we recommend avoiding use of WebVR in <a href="https://play.google.com/store/apps/details?id=com.android.chrome">Chrome for Android</a> and <a href="https://play.google.com/store/apps/details?id=com.chrome.canary">Chrome Canary</a>.</p>
          <p class="note"><strong>Note:</strong> Any WebVR site you visit must be already enrolled in the <a href="https://blog.chromium.org/2016/12/introducing-webvr-api-in-chrome-for.html">WebVR Origin Trial</a> and contain a <code>&lt;meta&gt;</code> tag or HTTP response header with a valid Origin Trial token.</p>
        </section>

        <section id="releases" class="section" data-section="releases">
          <h2><a href="#releases">Latest version</a></h2>
          <h3><a href="" itemprop="softwareApplication"></a></h3>
          <article itemscope itemtype="http://schema.org/SoftwareApplication">
            <dl>
              <dt class="browser-type">Type</dt>
              <dd>
                <span class="applicationSubCategory">Browser Build</span>
              </dd>
              <dt class="browser-download">Download</dt>
              <dd>
                <a class="button button-outlined-approve button-download" href="{{ browser.downloadUrl }}" itemprop="downloadUrl" data-download-name="{{ browser.slug }}" data-download-id="{{ browser.releases.latest.buildInfo.buildid }}">Download</a>
              </dd>
              <dt class="browser-version">Version</dt>
              <dd>
                <span itemprop="version" class="version" content="{{ browser.releases.latest.buildInfo.buildid }}">{{ browser.releases.latest.buildInfo.buildid }}</span>
              </dd>
              <dt class="browser-date-published">Date released</dt>
              <dd>
                <time itemprop="datePublished" datetime="{{ browser.releases.latest.dateReleased.isoString }}" title="{{ browser.releases.latest.dateReleased.isoString }}">
                  {{ browser.releases.latest.dateReleased.datetimeString }}
                </time>
              </dd>
              <dt class="browser-file-size">File size</dt>
              <dd>
                <span itemprop="fileSize" content="{{ browser.releases.latest.fileSize }}">{{ browser.releases.latest.fileSize }}</span>
              </dd>
              <dt class="browser-system-requirements">System requirements</dt>
              <dd>
                <span class="operatingSystems" content="{{ browser.releases.operatingSystem }}">{{ browser.releases.operatingSystem }}</span>
                {% if browser.processorRequirements == 'IA64' or browser.processorRequirements == 'IA32' %}
                  <span class="processorRequirements">
                    {{ '64-bit' if browser.processorRequirements == 'IA64' }}
                    {{ '32-bit' if browser.processorRequirements == 'IA32' }}
                  </span>
                {% endif %}
              </dd>
              <dt class="browser-authors">Authors</dt>
              <dd class="not-copy">
                <ul class="authors-list">
                  {{ author_item('tojiro') }}
                  {{ author_item('klausweidner') }}
                </ul>
              </dd>
              <!--
              <dt class="browser-release-notes">Release notes</dt>
              <dd>
              </dd>
              -->
            </dl>
          </article>
        </section>

        <section id="known-issues" class="section" data-section="known-issues">
          <h2><a href="#known-issues">Known issues</a></h2>
          <p>These known issues apply to the <a href="#download">latest published build</a>. Where applicable, the detailed release notes below will list when historic known issues were fixed.</p>
          <ul class="bullets-light">
            <li><span><strong>Warning:</strong> Until the stability of WebVR improves (soon in upcoming releases), we recommend avoiding use of WebVR in <a href="https://play.google.com/store/apps/details?id=com.android.chrome">Chrome for Android</a> and <a href="https://play.google.com/store/apps/details?id=com.chrome.canary">Chrome Canary</a>.</span></li>
            <li><span><strong>Note:</strong> Any WebVR site you visit must be already enrolled in the <a href="https://blog.chromium.org/2016/12/introducing-webvr-api-in-chrome-for.html">WebVR Origin Trial</a> and contain a <code>&lt;meta&gt;</code> tag or HTTP response header with a valid Origin Trial token.</span></li>
            <li><span>There is no installer for the experimental <code>.apk</code> builds of Chromium for Android.</span></li>
            <li><span><strong>Warning:</strong> Do <em>not</em> use the “Skip VR entry screens” setting in Daydream’s Developer options. It can cause a black screen or inconsistent behavior when trying to enter VR, for example when the controller firmware is out of date. As an alternative, you can double-tap the “Place your phone into the Daydream headset” screen to bypass it.</span></li>
            <li><span>Currently only works with <a href="https://vr.google.com/daydream/phones/">Daydream-ready devices</a>, though it can be used in either Daydream or Cardboard mode on those devices (depending on your configured viewer).</span></li>
            <li><span>Content is being rendered at &asymp;1000&times;1200 per eye on a <a href="https://madeby.google.com/phone/">Pixel XL</a>, significantly lower than that of the 1:1 render resolution of 1803&times;2268. (The default render resolution is going to change in the future; consider implementing <a href="https://webvr.info/samples/08-dynamic-resolution.html">dynamic-resolution scaling</a> to tune performance. You can also choose to set the <code>&lt;canvas&gt;</code> size to larger or smaller than that of the recommended render resolution during initialization.)</span></li>
            <li><span>The <a href="https://www.google.com/nexus/6p/">Nexus 6P</a> may work adequately as a developer-preview experience, but the phone is slower than that of the <a href="https://madeby.google.com/phone/">Pixel phones</a>, and the Nexus 6P may degrade in performance during extended VR use due to thermal throttling. It is not representative of the performance of <a href="https://vr.google.com/daydream/phones/">Daydream-ready devices</a>.</span></li>
            <li><span>Modifying the <code>&lt;canvas&gt;</code> GL context or content after <a href="https://w3c.github.io/webvr/#dom-vrdisplay-submitframe"><code>VRDisplay#submitFrame</code></a> may cause corrupted frames, among other issues. Please wait for the next <a href="https://w3c.github.io/webvr/#dom-vrdisplay-requestanimationframe"><code>VRDisplay#requestAnimationFrame</code></a> callback before doing so. Also, check the <a href="https://w3c.github.io/webvr/#dom-vrdisplaycapabilities-hasexternaldisplay">VRDisplayCapabilities#hasExternalDisplay</code> property</a> to know when to disable display mirroring (and, if <code>false</code>, any features that reuse the <code>&lt;canvas&gt;</code> post-submission).</span></li>
          </ul>
        </section>

        <!--
        <section id="demos" class="section demos">
          <h2><a href="#demos">Demos</a></h2>
        </section>

        <section id="info" class="section info" data-section="info">
          <h2><a href="#info">Info</a></h2>
          <dl>
            <dt>How can I help out?</dt>
            <dd></dd>
            <dt>How can I test sites?</dt>
            <dd></dd>
          </dl>
        </section>
        -->
      </div>
    </main>

    {% include '_footer.html' %}
  </body>
</html>
