{% from '_helpers.html' import author_item, browsers %}
{% set browser = browsers.chromium %}
{% set page = 'chromium.html' %}
<!doctype html>
<html lang="en" data-layout="secondary" data-browser="{{ browser.slug }}">
  <head>
    {% include '_head.html' %}
    <meta charset="utf-8">
    <title>{{ browser.name }} • WebVR Rocks</title>
  </head>
  <body>
    <header id="header" class="header" role="banner">
      <div class="container section">
        {% with page=page %}
          {% include '_logo.html' %}
        {% endwith %}

        <a class="browser-link" href="{{ browser.about }}">
          <h1 class="browser-name">{{ browser.name }}</h1>
          <img class="browser-icon browser-icon-chromium" src="/chromium/icon.png" alt="{{ browser.name }}" title="{{ browser.name }}">
        </a>

        <p class="browser-intro"><a href="https://www.google.com/">Google</a>&rsquo;s open-source version of <a href="https://www.google.com/chrome/">Chrome</a></p>

        <div class="message message-alert">
          <strong>Warning:</strong> All <a href="#releases">Chromium WebVR builds posted here</a> are highly experimental and subject to change!
        </div>

        <div id="download" class="download dropdown-standalone dropdown-download dropdown-with-children">
          <a href="https://drive.google.com/uc?export=download&amp;id=0BzudLt22BqGRRElMNmVqQjJWS2c" class="button button-unstyled button-large button-download">Download</a>
          <span class="icon-arrow-down"></span>
          <ul class="list-unstyled dropdown">
            <li><a href="https://drive.google.com/uc?export=download&amp;id=0BzudLt22BqGRRElMNmVqQjJWS2c">December 23, 2016</a></li>
            <li><a href="https://drive.google.com/uc?export=download&amp;id=0BzudLt22BqGRc2lEWDg2NkptNzg">September 23, 2016</a></li>
            <li><a href="https://drive.google.com/uc?export=download&amp;id=0BzudLt22BqGRVzFKVWNSbFA5aXM">September 17, 2016</a></li>
            <li><a href="https://drive.google.com/uc?export=download&amp;id=0BzudLt22BqGRcVNBWHR5OW0za1E">August 29, 2016</a></li>
            <li><a href="https://drive.google.com/uc?export=download&amp;id=0BzudLt22BqGRZUFhd0Q5M1FEd1U">August 28, 2016</a></li>
            <li><a href="https://drive.google.com/uc?export=download&amp;id=0BzudLt22BqGRQ0dvVGZHV2Njdkk">August 7, 2016</a></li>
          </ul>
        </div>
        <p class="view-source">
          <a href="https://chromium.googlesource.com/experimental/chromium/src/+/refs/wip/bajones/webvr_1" class="button-source">View source</a>
        </p>
      </div>
    </header>

    <main id="main" class="main" role="main">
      <div class="container">

        <section id="setup" class="section setup">
          <h2><a href="#setup">Instructions</a></h2>
          <ol>
            <li><a href="https://drive.google.com/uc?export=download&amp;id=0BzudLt22BqGRRElMNmVqQjJWS2c">Download the experimental build of Chromium with WebVR support</a>.</li>
            <li>Find the <code>chromium_webvr_v1.1_win.zip</code> file in your <code>Downloads</code> directory, and extract all the contents.</li>
            <li>In the output directory, find and launch the <code>chrome.exe</code> file.</li>
            <li>In the URL bar, load <code>chrome://flags#enable-webvr</code> and toggle the <code>Enable WebVR flag</code>.</li>
            <li>In the URL bar, load <code>chrome://flags#enable-gamepad-extensions</code> and toggle the <code>Enable Gamepad Extensions</code> flag.</li>
            <li><span data-headset="htc-vive">Launch the <a href="https://www.vive.com/setup/">SteamVR</a> application.</span></li>
            <li>Enjoy WebVR content!</li>
          </ol>
        </section>

        <section id="releases" class="section releases">
          <h2><a href="#releases">Latest version</a></h2>
          <h4><a href="" itemprop="softwareApplication"></a></h4>
          <article itemscope itemtype="http://schema.org/SoftwareApplication">
            <dl>
              <dt class="browser-type">Type</dt>
              <dd>
                <span class="applicationSubCategory">Experimental Browser Build</span>
              </dd>
              <dt class="browser-download">Download</dt>
              <dd>
                <a class="button button-outlined-approve button-download" href="https://drive.google.com/file/d/0BzudLt22BqGRRElMNmVqQjJWS2c/view?usp=drive_web" itemprop="downloadUrl">Download</a>
              </dd>
              <dt class="browser-version">Version</dt>
              <dd>
                <span class="version">2016-12-13</span>
              </dd>
              <dt class="browser-date-released">Date released</dt>
              <dd>
                <time itemprop="datePublished" datetime="2016-12-13T10:31:00Z">
                  December 13, 2016
                </time>
              </dd>
              <dt class="browser-file-size">File size</dt>
              <dd>
                <span itemprop="fileSize" content="93MB">93 MB</span>
              </dd>
              <dt class="browser-system-requirements">System requirements</dt>
              <dd>
                <span class="operatingSystems">Windows 7.1+</span>
                <span class="processorRequirements">64-bit</span>
              </dd>
              <dt class="browser-authors">Authors</dt>
              <dd>
                <ul class="authors__list">
                  {{ author_item('tojiro') }}
                </ul>
              </dd>
              <dt class="browser-release-notes">Release notes</dt>
              <dd>
                <ul class="release-notes">
                  <li>Applies multiple optimizations on top of the version of WebVR publicly available in <a href="https://blog.chromium.org/2016/12/introducing-webvr-api-in-chrome-for.html">Chrome 56 beta</a>, primarily in the form of reducing texture copies. This gives significantly better performance and latency in most cases. Consider this a preview of performance targets for later versions of Chrome, with further possible improvements still to come.</li>
                </ul>
              </dd>
            </dl>
          </article>
        </section>

        <section id="known-issues" class="section known-issues">
          <h2><a href="#known-issues">Known issues</a></h2>
          <p>These known issues apply to the <a href="#download">latest published build</a>. Where applicable, the detailed release notes below will list when historic known issues were fixed.</p>
          <ul>
            <li>
              <p>There is no installer for the experimental builds of Chromium. Once the contents of the <code>.zip</code> file is extracted, launched <code>chrome.exe</code> directly from the <code>chrome-bin</code> folder.</p>
            </li>
            <li>
              <p><a class="button button-outlined-neutral button-small button-bug" href="https://github.com/toji/chrome-webvr-issues/issues/126">Bug</a> The timestamp passed to the <code>requestAnimationFrame</code> callback is off by a factor of 1000; the function erroneously receives microseconds instead of milliseconds.</p>
            </li>
            <li>
              <p><a class="button button-outlined-neutral button-small button-bug" href="https://github.com/toji/chrome-webvr-issues/issues/73">Bug</a> OpenVR (HTC Vive): Static scene content wobbles in response to head movement.</p>
            </li>
          </ul>
        </section>

        <section id="demos" class="section demos">
          <h2><a href="#demos">Demos</a></h2>
          {# demo_tile('a_blast') #}
          {# demo_tile('puzzle_rain') #}
          {# demo_tile('stage_vr') #}
          {# demo_tile('a_way_to_go') #}
          <figure class="media-outlined media-demo">
            <a class="demo-link" href="/a_blast">
              <img class="demo-poster" src="/a_blast/poster.png" height="150">
              <figcaption>A-Blast</figcaption>
            </a>
          </figure>
          <figure class="media-outlined media-demo">
            <a class="demo-link" href="/puzzle_rain">
              <img class="demo-poster" src="/puzzle_rain/poster.png" height="150">
              <figcaption>Puzzle Rain</figcaption>
            </a>
          </figure>
          <figure class="media-outlined media-demo">
            <a class="demo-link" href="/stage_vr">
              <img class="demo-poster" src="/stage_vr/poster.png" height="150">
              <figcaption>Stage VR</figcaption>
            </a>
          </figure>
          <figure class="media-outlined media-demo">
            <a class="demo-link" href="/a_way_to_go">
              <img class="demo-poster" src="/a_way_to_go/poster.png" height="150">
              <figcaption>A Way to Go</figcaption>
            </a>
          </figure>
        </section>

        <section id="info" class="section info">
          <h2><a href="#info">Info</a></h2>
          <dl>
            <!--
            <dt>How can I help out?</dt>
            <dd></dd>
            -->
            <!--
            <dt>How can I test sites?</dt>
            <dd></dd>
            -->
            <dt>Which audio and video codecs are supported?</dt>
            <dd>
              <p>Because of licensing issues, only open codecs are supported right now. For example, MP3 and x264 are <strong>not</strong> supported. Opus audio (<code>audio/opus</code>, <code>audio/ogg</code>), WebM (<code>video/webm</code>), Theora (<code>video/ogg</code>), Vorbis (<code>audio/vorbis</code>), VP8, VP9, and WAV.</p>
            </dd>
          </dl>
        </section>
      </div>
    </main>

    {% include '_footer.html' %}
  </body>
</html>
