{% set slug = 'firefox' %}
{% extends '_layout_browser.html' %}

{% block instructions %}
  <ol class="bullets-light">
    <li><span>Download and launch <a href="{{ browser.url }}"><strong>Firefox</strong></a>.</span></li>
    <li id="setup-oculus-unknown-sources" data-headset="oculus_rift"><span>
      <p>For the <strong data-headset="oculus_rift">Oculus Rift</strong>,
      enable <strong>Unknown Sources</strong> in your Oculus Settings.</p>
      <p>Launch the <strong data-headset="oculus_rift">Oculus desktop app</strong> and navigate to <code>Settings &gt; General &gt; Unknown Sources</code>.</p>
      <p><img class="db" src="/oculus_rift/oculus-unknown-sources-settings.gif" alt="Animation of Oculus 'Unknown Sources' instructions"></p>
    </span></li>
    <li id="setup-nvidia"><span>
      <p>For PCs using NVIDIA chipsets, there are several methods of <a href="https://alteredqualia.com/texts/optimus/">enabling the discrete GPU</a>.</p>
      <p>One way is from the <a href="https://www.nvidia.com/Download/Find.aspx">NVIDIA Control Panel</a>: Open <code>3D Settings &gt; Manage 3D settings &gt; Program Settings</code>, and select <strong>Mozilla Firefox (firefox.exe)</strong> as the program to customize, and select <strong>&ldquo;High-performance NVIDIA processor&rdquo;</strong> as the preferred graphics processor.</p>
      <p><img class="db" src="/firefox/firefox-nvidia-settings.png" alt="Screenshot of NVIDIA Settings for Firefox"></p>
    </span></li>
    <li><span>Restart Firefox.</span></li>
    <li><span>Enjoy WebVR content!</span></li>
  </ol>
{% endblock %}

{% block demos %}
  {{ demo_item('a_saturday_night') }}
  {{ demo_item('a_painter') }}
  {{ demo_item('puzzle_rain') }}
  {{ demo_item('a_blast') }}
  {{ demo_item('stagevr') }}
{% endblock %}

{% block releases %}
  <dt class="browser-authors">Authors</dt>
  <dd class="not-copy">
    <ul class="authors-list">
      {{ author_item('kearwoodgilbert') }}
      {{ author_item('daoshengmu') }}
    </ul>
  </dd>
{% endblock %}

{% block links %}
  <ul class="bullets-light">
    {% for link in browser.links %}
      {% if link.enabled != false %}
        <li>
          <span>
            <a href="{{ link.url }}">
              {% if link.source and link.title %}
                {{ link.source }}: <em>{{ link.title }}</em>
              {% elif link.source %}
                {{ link.source }}
              {% elif link.title %}
                <em>{{ link.title }}</em>
              {% endif %}

              {% if link.date %}
                <time {% if link.datetime %}datetime="{{ link.datetime }}" {% endif -%}
                  {% if link.datetime_original %}data-datetime-original="{{ link.datetime_original }}" {% endif -%}
                  title="{{ link.datetime_title or link.date }}">
                  {{ link.date }}
                </time>
              {% endif %}
            </a>
          </span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}

{% block help %}
<dl>
  <dt id="webvr_does_not_work"><a href="#webvr_does_not_work">Why does WebVR content not work for me?</a></dt>
  <dd>
    <p>Here are a few troubleshooting recommendations:</p>
    <ul class="bullets-light">
      <li>
        <span>
          Make sure you are running the <a href="https://support.mozilla.org/kb/switch-32-bit-64-bit">64-bit version of Firefox</a>.
        </span>
      </li>
      <li data-headset="oculus_rift">
        <span>
          If you are using the Oculus Rift, make sure you have enabled <a href="#setup-oculus-unknown-sources">Unauthorized Sources</a>.
        </span>
      </li>
      <li>
        <span>
          If you are using a laptop/PC with an NVIDIA graphics card, make sure you have enabled the <a href="#setup-nvidia">discrete GPU for Firefox</a>.
        </span>
      </li>
    </ul>
    <p>
      If you still don&rsquo;t see your issue reported, you can <a href="{{ browser.bugsReportUrl }}">file a new bug in the Firefox bug tracker</a>. Or, if you&rsquo;d prefer, you can file a bug on <strong><a href="https://webcompat.com/">WebCompat.com</a></strong>.
    </p>
  </dd>
  <dt id="where_can_i_find_the_list_of_known_bugs"><a href="#where_can_i_find_the_list_of_known_bugs">Where can I find the list of known bugs?</a></dt>
  <dd>
    <p>
      Above is a list of <a href="#compat">bugs and features that are being actively worked on</a>. You can find the full list of filed bugs and planned features by searching the <a href="{{ browser.bugsUrl }}">Firefox Bugzilla bug tracker for bugs</a>.
    </p>
  </dd>
  <dt id="how_can_i_report_a_bug"><a href="#how_can_i_report_a_bug">How can I report a bug?</a></dt>
  <dd>
    <p>
      First, refer to the <a href="#compat">known issues above</a> and the <a href="{{ browser.bugsUrl }}">WebVR bugs in the Firefox Bugzilla bug tracker</a>.
    </p>
    <p>
      If you still don&rsquo;t see your issue reported, you can <a href="{{ browser.bugsReportUrl }}">file a new bug in the Firefox bug tracker</a>. Or, if you&rsquo;d prefer, you can file a bug on <strong><a href="https://webcompat.com/">WebCompat.com</a></strong>.
    </p>
  </dd>
</dl>
{% endblock %}
