{% set slug = 'firefox' %}
{% extends '_layout_browser.html' %}

{% block instructions %}
  <ol class="bullets-light">
    <li><span>Download and launch <a href="https://www.mozilla.org/en-US/firefox/channel/desktop/#nightly"><strong>Firefox Nightly</strong></a>.</span></li>
    <li data-headset="oculus_rift"><span>Ensure that your Oculus Home settings allow for <a href="https://blog.mozvr.com/oculus-home-rift-cv1-webvr/#enablingunknownsources">Unknown Sources</a>.</span></li>
    <li><span>For PCs (especially laptops) using Nvidia chipsets, there are several methods of <a href="https://alteredqualia.com/texts/optimus/">enabling the discrete GPU</a>. One way is from the <a href="https://www.nvidia.com/Download/Find.aspx">NVIDIA Control Panel</a>: Load <code>3D Settings</code> <code>&gt;</code> <code>Manage 3D Settings</code> <code>&gt;</code> <code>Program Settings</code> tab, and select <strong>Mozilla Firefox (firefox.exe)</strong> (with the blue Nightly icon) as the program to customize, and select <strong>&ldquo;High-performance NVIDIA processor"</strong> as the preferred graphics processor.</span></li>
    <li><span>Restart Firefox Nightly.</span></li>
    <li><span>Enjoy WebVR content!</span></li>
  </ol>
{% endblock %}

{% block demos %}
  {{ demo_item('a_saturday_night') }}
  {{ demo_item('a_painter') }}
  {{ demo_item('puzzle_rain') }}
  {{ demo_item('a_blast') }}
  {{ demo_item('stagevr') }}
{% endblock %}

{% block releases %}
  <dt class="browser-authors">Authors</dt>
  <dd class="not-copy">
    <ul class="authors-list">
      {{ author_item('kearwoodgilbert') }}
      {{ author_item('daoshengmu') }}
    </ul>
  </dd>
{% endblock %}

{% block links %}
  <ul class="bullets-light">
    {% for link in browser.links %}
      {% if link.enabled != false %}
        <li>
          <span>
            <a href="{{ link.url }}">
              {% if link.source and link.title %}
                {{ link.source }}: <em>{{ link.title }}</em>
              {% elif link.source %}
                {{ link.source }}
              {% elif link.title %}
                <em>{{ link.title }}</em>
              {% endif %}

              {% if link.date %}
                <time {% if link.datetime %}datetime="{{ link.datetime }}" {% endif -%}
                  {% if link.datetime_original %}data-datetime-original="{{ link.datetime_original }}" {% endif -%}
                  title="{{ link.datetime_title or link.date }}">
                  {{ link.date }}
                </time>
              {% endif %}
            </a>
          </span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}

{% block faq %}
<dl>
  <dt id="where_can_i_find_the_list_of_known_bugs"><a href="#where_can_i_find_the_list_of_known_bugs">Where can I find the list of known bugs?</a></dt>
  <dd>
    <p>
      You can find a list of the known bugs by searching the <a href="{{ browser.bugsUrl }}">Firefox Bugzilla bug tracker for bugs with the whiteboard keyword <code>[webvr]</code></a>.
    </p>
  </dd>
  <dt id="how_can_i_report_a_bug"><a href="#how_can_i_report_a_bug">How can I report a bug?</a></dt>
  <dd>
    <p>
      First, refer to the <a href="#compat">known issues above</a> and the <a href="{{ browser.bugsUrl }}">WebVR bugs in the Firefox Bugzilla bug tracker (labeled with the whiteboard keyword <code>[webvr]</code>)</a>.
    </p>
    <p>
      If you still don&rsquo;t see your issue reported, you can <a href="{{ browser.bugsReportUrl }}">file a new bug in the Firefox bug tracker</a>. Or, if you&rsquo;d prefer, you can file a bug on <strong><a href="https://webcompat.com/">WebCompat.com</a></strong>.
    </p>
  </dd>
</dl>
{% endblock %}
