{% from '_helpers.html' import author_item, browsers %}
{% set browser = browsers.firefox %}
<!doctype html>
<html lang="en" data-layout="secondary" data-browser="firefox">
  <head>
    {% include '_head.html' %}
    <title>Firefox • WebVR Rocks</title>
  </head>
  <body>
    <header id="header" class="header" role="banner">
      <div class="container section">
        <p class="hidden-text"><a href="/" aria-controls="main" tabindex="0">&#xAB; Back to WebVR Rocks home</a></p>

        {% include '_logo.html' %}

        <!--<div class="cf"><a href="https://github.com/webvrrocks/webvrrocks/edit/master/public/firefox.html" title="Edit on GitHub" class="button button-primary pull-right">Edit on GitHub</a></div>-->

        <a class="browser-link" href="/firefox">
          <h1 class="browser-name">Firefox Nightly</h1>
          <img class="browser-icon browser-icon-firefox" src="/firefox/icon-nightly.png" alt="Firefox" title="Firefox">
        </a>

        <p class="browser-intro"><a href="https://www.mozilla.org/">Mozilla</a>&rsquo;s bleeding-edge version of <a href="https://www.mozilla.org/en-US/firefox/">Firefox</a></p>

        <div class="message message-alert">
          <strong>Warning:</strong> All <a href="#releases">Firefox Nightly releases</a> are highly experimental and subject to change!
        </div>

        <div id="download" class="download dropdown-standalone dropdown-download">
          <a href="https://www.mozilla.org/en-US/firefox/channel/desktop/#nightly" class="button-unstyled button-large button-download">Download</a>
          <!--
          <span class="icon-arrow-down"></span>
          <ul class="list-unstyled dropdown">
            <li><a href=""></a></li>
          </ul>
          -->
        </div>
        <p class="view-source">
          <a href="https://dxr.mozilla.org/mozilla-central/source/dom/vr" class="button-source">View source</a>
        </p>
      </div>
    </header>

    <main id="main" class="main" role="main">
      <div class="container">
        <section id="setup" class="section setup">
          <h2><a href="#setup">Instructions</a></h2>
          <ol>
            <li>Download and launch <a href="https://www.mozilla.org/en-US/firefox/channel/desktop/#nightly">Firefox Nightly</a>.</li>
            <li data-headset="htc_vive"><a href="https://github.com/ValveSoftware/openvr/raw/master/bin/win64/openvr_api.dll">Download version 1.02 (64-bit) of the <code>openvr_api.dll</code> file</a> from the <a href="https://github.com/ValveSoftware/openvr/">OpenVR GitHub repository</a>.</li>
            <li data-headset="htc_vive">Save the <code>openvr_api.dll</code> file somewhere on your computer where the user running Firefox can read it (e.g., <code>c:\openvr\</code>).</li>
            <li data-headset="htc_vive">In Firefox Nightly, navigate to <code>about:config</code>; change the value of <code>dom.vr.openvr.enabled</code> to <code>true</code> and <code>gfx.vr.openvr-runtime</code> to the full path of the <code>openvr_api.dll</code> file (e.g., <code>c:\openvr\openvr_api.dll</code>).</li>
            <li data-headset="oculus_rift">Ensure that your Oculus Home settings allow for <a href="https://blog.mozvr.com/oculus-home-rift-cv1-webvr/#enablingunknownsources">Unknown Sources</a>.</li>
            <li>Restart Firefox Nightly.</li>
            <li>Enjoy WebVR content!</li>
          </ol>
        </section>

        <section id="releases" class="section releases">
          <h2><a href="#releases">Latest version</a></h2>
          <h3><a href="" itemprop="softwareApplication"></a></h3>
          <article itemscope itemtype="http://schema.org/SoftwareApplication">
            <dl>
              <dt class="browser-type">Type</dt>
              <dd>
                <span class="applicationSubCategory">Browser Build</span>
              </dd>
              <dt class="browser-download">Download</dt>
              <dd>
                <a class="button button-outlined-approve button-download" href="https://www.mozilla.org/en-US/firefox/channel/desktop/#nightly" itemprop="downloadUrl">Download</a>
              </dd>
              <dt class="browser-version">Version</dt>
              <dd>
                <span class="version">2017-01-21</span>
              </dd>
              <dt class="browser-date-published">Date released</dt>
              <dd>
                <time itemprop="datePublished" datetime="2017-01-21T12:39:00Z">
                  January 21, 2017
                </time>
              </dd>
              <dt class="browser-file-size">File size</dt>
              <dd>
                <span itemprop="fileSize" content="38MB">38 MB</span>
              </dd>
              <dt class="browser-system-requirements">System requirements</dt>
              <dd>
                <span class="operatingSystems">Windows 7.1+</span>
                <span class="processorRequirements">64-bit</span>
              </dd>
              <dt class="browser-authors">Authors</dt>
              <dd>
                <ul class="authors__list">
                  <li class="authors__item">
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                      <span class="authors__item__author" itemprop="author" itemscope itemptype="http://schema.org/Person">
                        <a class="authors__item__url" href="https://twitter.com/kearwoodgilbert" itemprop="url"><span class="authors__item__url" itemprop="name">Kearwood "Kip" Gilbert</span></a>
                        (<a href="https://www.mozilla.org/" itemprop="organization">Mozilla</a>)
                      </a>
                    </span>
                  </li>
                  <li class="authors__item">
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                      <span class="authors__item__author" itemprop="author" itemscope itemptype="http://schema.org/Person">
                        <a class="authors__item__url" href="https://twitter.com/daoshengmu" itemprop="url"><span class="authors__item__url" itemprop="name">Daosheng Mu</span></a>
                        (<a href="https://www.mozilla.org/" itemprop="organization">Mozilla</a>)
                      </a>
                    </span>
                  </li>
                </ul>
              </dd>
              <dt>Release notes</dt>
              <dd></dd>
            </dl>
          </article>
        </section>

        <section id="known-issues" class="section known-issues">
          <h2><a href="#known-issues">Known issues</a></h2>
          <p>These known issues apply to the <a href="#download">latest published build</a>. Where applicable, the detailed release notes below will list when historic known issues were fixed.</p>
          <ul>
            <li>
              <p><a class="button button-outlined-neutral button-small button-bug" href="https://bugzilla.mozilla.org/show_bug.cgi?id=1320616">Bug</a> OpenVR (HTC Vive): Static scene content wobbles in response to head movement.</p>
            </li>
          </ul>
        </section>

        <section id="demos" class="section demos">
          <h2><a href="#demos">Demos</a></h2>
          {# demo_tile('a_blast') #}
          {# demo_tile('puzzle_rain') #}
          {# demo_tile('stage_vr') #}
          {# demo_tile('a_way_to_go') #}
          <figure class="media-outlined media-demo">
            <a class="demo-link" href="/a_blast">
              <img class="demo-poster" src="/a_blast/poster.png" height="150">
              <figcaption>A-Blast</figcaption>
            </a>
          </figure>
          <figure class="media-outlined media-demo">
            <a class="demo-link" href="/puzzle_rain">
              <img class="demo-poster" src="/puzzle_rain/poster.png" height="150">
              <figcaption>Puzzle Rain</figcaption>
            </a>
          </figure>
          <figure class="media-outlined media-demo">
            <a class="demo-link" href="/stage_vr">
              <img class="demo-poster" src="/stage_vr/poster.png" height="150">
              <figcaption>Stage VR</figcaption>
            </a>
          </figure>
          <figure class="media-outlined media-demo">
            <a class="demo-link" href="/a_way_to_go">
              <img class="demo-poster" src="/a_way_to_go/poster.png" height="150">
              <figcaption>A Way to Go</figcaption>
            </a>
          </figure>
        </section>

        <!-- <section id="info" class="section info"></section> -->
      </div>
    </main>

    {% include '_footer.html' %}
  </body>
</html>
