{% set slug = 'htc_vive' %}
{% extends '_layout_headset.html' %}

{% block instructions %}
  <ol class="bullets-light">
    <li><span>Download and run the <a href="http://store.steampowered.com/app/323910/">SteamVR Performance Test</a> to ensure your machine meets the minimum requirements to enjoy VR in the {{ headset.name }}.</span></li>
    <li><span>Download and install a <a href="#browsers">WebVR-capable browser</a>.</span></li>
  </ol>
  <p>You may wish to upgrade your Windows PC manually, build a custom PC, or purchase a <a href="https://www.vive.com/ready/">pre-built VIVE-ready PC</a>.</p>
  <p>(If needed, refer to the <a href="https://support.steampowered.com/steamvr/HTC_Vive/">SteamVR VIVE Installation Guide</a>.)</p>
{% endblock %}

{% block demos %}
  {{ demo_item('a_blast') }}
  {{ demo_item('a_painter') }}
  {{ demo_item('dark_haze') }}
  {{ demo_item('puzzle_rain') }}
{% endblock %}

{% block links_block %}
{% endblock %}

{% block help %}
  <dl>
    <!--
    <dt>Which desktop PC or laptop should I buy?</dt>
    <dd></dd>
    <dt>Why is Windows the only supported operating system?</dt>
    <dd></dd>
    -->
    <dt id="when_is_support_landing_in_release_channel_browsers"><a href="#when_is_support_landing_in_release_channel_browsers">Which browsers support WebVR for the {{ headset.name }}?</a></dt>
    <dd>
      <p>
        WebVR v1.1 support for the {{ headset.name }} is available in the release-channel versions of both <a href="{{ browsers.firefox.about }}">{{ browsers.firefox.name }}</a> and <a href="{{ browsers.microsoft_edge.about }}">{{ browsers.microsoft_edge.name }}</a>.
      </p>
    </dd>
    <dt id="can_i_still_use_a_vive_pre_developer_kit"><a href="#can_i_still_use_a_vive_pre_developer_kit">Can I still use a Vive PRE developer kit?</a></dt>
    <dd>
      <p>
        If you have a <a href="https://www.htc.com/managed-assets/shared/desktop/vive/Vive_PRE_User_Guide.pdf">Vive PRE development kit</a>, you may still be able to follow these same instructions to use WebVR, but there are no guarantees of stability nor performance.
      </p>
      <p>
        It&rsquo;s worth noting that there are mostly only the modifications made between the Vive PRE and Vive consumer version are mostly slight changes to the aesthetics and comfort (e.g., the most obvious being the IPD-adjustment knob and slight head-strap adjustments).
      </p>
    </dd>
  </dl>
{% endblock %}
