{% set slug = 'microsoft_edge' %}
{% extends '_layout_browser.html' %}

{% block instructions %}
  <ol class="bullets-light">
    <li>Ensure that you enable the <a href="https://developer.microsoft.com/en-us/windows/mixed-reality/immersive_headset_setup">Creators Update</a>.</li>
    <li>Setup either <a href="https://developer.microsoft.com/en-us/windows/mixed-reality/immersive_headset_setup">headset hardware</a>, or <a href="https://developer.microsoft.com/en-us/windows/mixed-reality/Using_the_Windows_Mixed_Reality_simulator.html#enabling_the_windows_mixed_reality_simulator">install simulator</a>.</li>
    <li>Start Edge browser.</li>
    <li><span>Enjoy content!</span></li>
  </ol>
{% endblock %}

{% block headsets %}
  <ul class="bullets-light">
    <li><span><a href="{{ headsets.microsoft_mixed_reality.about }}" itemprop="aboutUrl">Windows Mixed Reality Developer Kit</a></span></li>
  </ul>
{% endblock %}

{% block info_block %}
  <li><span><a href="https://developer.microsoft.com/en-us/windows/mixed-reality/immersive_headset_setup">Immersive headset setuip</a></span></li>
  <li><span><a href="https://developer.microsoft.com/en-us/windows/mixed-reality/Using_the_Windows_Mixed_Reality_simulator.html#enabling_the_windows_mixed_reality_simulator">Using the Windows Mixed Reality simulator</a></span></li>
  <li><span><a href="https://msdn.microsoft.com/en-us/library/mt806281(v=vs.85).aspx">Microsofts WebVR reference</a></span></li>
  <li><span><a href="https://arstechnica.com/information-technology/2017/01/webvr-books-and-more-extensions-coming-to-edge-in-creators-update/">VR-heavy Windows 10 Creators Update adds WebVR to Edge <em>(Ars Technica)</em></a></span></li>
  <li><span><a href="https://developer.microsoft.com/en-us/microsoft-edge/platform/changelog/desktop/15002/">Edge adds support for WebVR <em>(Microsoft Developer)</em></a></span></li>
  <li><span><a href="https://blogs.windows.com/msedgedev/2016/09/09/webvr-in-development-edge/#ljMCoZDHkEYig3gF.97">Bringing WebVR to Microsoft Edge <em>(Microsoft Edge Developer)</em></a></span></li>
{% endblock %}