{% from '_helpers.html' import author_item, browsers %}
{% set browser = browsers.microsoft_edge %}
{% set page = 'microsoft_edge.html' %}
<!doctype html>
<html lang="en" data-layout="secondary" data-browser="{{ browser.slug }}">
  <head>
    {% include '_head.html' %}
    <title>{{ browser.name }} • WebVR Rocks</title>
  </head>
  <body>
    <header id="header" class="header" role="banner">
      <div class="container section">
        {% include '_logo.html' %}

        <a class="browser-link" href="{{ browser.about }}">
          <h1 class="browser-name">{{ browser.name }}</h1>
          <img class="browser-icon browser-icon-chromium" src="{{ browser.logo }}" alt="{{ browser.name }}" title="{{ browser.name }}">
        </a>

        <p class="browser-intro">{{ (browser.description_html or browser.description)|safe }}</p>
      </div>
    </header>

    <main id="main" role="main">
      <div class="container">
      </div>
    </main>

    {% include '_footer.html' %}
  </body>
</html>
