{% import '_helpers.html' as helpers %}
<!doctype html>
<html lang="en" data-layout="secondary" data-browser="oculus_carmel">
  <head>
    {% include '_head.html' %}
    <title>Oculus Carmel • WebVR Rocks</title>
  </head>
  <body>
    <header id="header" class="header" role="banner">
      <div class="container section">
        <p class="hidden-text"><a href="/" aria-controls="main" tabindex="0">&#xAB; Back to WebVR Rocks home</a></p>

        {% include '_logo.html' %}

        <!--<div class="cf"><a href="https://github.com/webvrrocks/webvrrocks/edit/master/public/oculus_carmel.html" title="Edit on GitHub" class="button button-primary pull-right">Edit on GitHub</a></div>-->

        <header class="browser-header">
          <a class="browser-link" href="/oculus_carmel">
            <h1 class="browser-name">Oculus Carmel</h1>
            <img class="browser-icon browser-icon-carmel" src="/oculus_carmel/icon.png" alt="Oculus Carmel" title="Oculus Carmel">
          </a>
        </header>

        <p class="browser-intro"><a href="https://www.oculus.com/">Oculus</a>&rsquo;s <a href="https://www.oculus.com/experiences/gear-vr/1290985657630933/">WebVR-only browser for Gear VR</a></p>
      </div>
    </header>

    <main id="main" class="main" role="main">
      <div class="container">

        <section id="setup" class="section setup">
          <h2><a href="#setup">Instructions</a></h2>
          <ol>
            <li>Search for and install Carmel Developer Preview from Oculus Gear VR store.
            <br/><img src="oculus_carmel/app.png" height="300"></li>
            <li>Launch Carmel Developer Preview from your Gear VR library.</li>
            <li>Enjoy! There are several WebVR demo's to try when Carmel is started.</li>
          </ol>
        </section>

        <section id="releases" class="section releases">
          <h2><a href="#releases">Latest version</a></h2>
          <h4><a href="" itemprop="softwareApplication"></a></h4>
          <article itemscope itemtype="http://schema.org/SoftwareApplication">
            <dl>
              <dt class="browser-download">Download</dt>
              <dd>
                <a class="button button-outlined-approve button-download" href="https://www.oculus.com/experiences/gear-vr/1290985657630933/" itemprop="downloadUrl">Download</a>
              </dd>
              <dt class="browser-system-requirements">System requirements</dt>
              <dd>
                <span class="operatingSystems">Samsung Gear VR</span>
              </dd>
              <dt class="browser-version">Version</dt>
              <dd>
                <span class="version">0.2-004014</span>
              </dd>
              <dt class="browser-file-size">File size</dt>
              <dd>
                <span itemprop="fileSize" content="64.18MB">64.18 MB</span>
              </dd>
              <dt class="browser-release-notes">Release notes</dt>
              <dd>
                <ul class="release-notes">
                  <li>A preview of the new VR browser from Oculus, code named "Carmel". This release focuses on running 3D WebVR API content in VR with comprehensive 2D support planned for a later release.  Check out WebVR projects from other developers and test your own experiences.</li>
                  <li>Carmel browser does not yet have any browser UI.  Navigating to a arbitrary URL can be done using the `ovrweb` protocol to do so.   For instructions, see <a href="https://developer3.oculus.com/documentation/vrweb/latest/concepts/carmel-launching-content/">Launching Your Content</a> on the Oculus VR Web resource.</li>
                </ul>
              </dd>
            </dl>
          </article>
        </section>

        <section id="info" class="section info">
          <h2><a href="#info">Info</a></h2>
          <dl>
            <dt>Developer resources.</dt>
            <dd><a href="https://developer.oculus.com/webvr/">Oculus WebVR pages.</a></dd>
            <dd><a href="https://developer.oculus.com/blog/introducing-the-react-vr-pre-release/">React VR Pre-release</a></dd>
            <dd><a href="https://github.com/OculusVR/ovrui">OVRUI toolkit</a></dd>
          </dl>
        </section>

      </div>
    </main>

    {% include '_footer.html' %}
  </body>
</html>
