{% set slug = 'oculus_browser' %}
{% extends '_layout_browser.html' %}

{% block instructions %}
  <ol class="bullets-light">
    <li>
      <span>
        Insert your <a href="#phones">supported Android phone</a> into the <a href="{{ headsets.samsung_gear_vr.about }}">{{ headsets.samsung_gear_vr.name }}</a> headset.
        <ul>
          <li>
            <span>If prompted, eject your phone and proceed to complete the Gear VR installation or upgrade process.</span>
          </li>
        </ul>
      </span>
    </li>
    <li>
      <span>
        Launch the <strong>Oculus Browser</strong> from the <strong>Oculus Lobby</strong>.
      </span>
    </li>
    <li>
      <span>
        Load <a href="https://aframe.io/" rel="noreferrer noopener"><strong>aframe.io</strong></a> or <a href="https://webvr.rocks/" rel="noreferrer noopener"><strong>webvr.rocks</strong></a>.
      </span>
    </li>
    <li>
      <span>
        Enjoy WebVR content!
      </span>
    </li>
  </ol>
{% endblock %}

{% block demos %}
  {{ demo_item('the_british_museum') }}
  {{ demo_item('the_new_york_times') }}
  {{ demo_item('usa_today') }}
  {{ demo_item('discover_dubai') }}
{% endblock %}

{% block links %}
  <ul class="bullets-light">
    <li><span><a href="https://www.oculus.com/blog/mobile-vr-is-better-than-ever/">Mobile VR Is Better than Ever</a></span></li>
    <li><span><a href="https://developer.oculus.com/webvr/">Oculus WebVR Developer Center</a></span></li>
    <li><span><a href="https://developer3.oculus.com/documentation/vrweb/latest/">Oculus WebVR Guide</a></span></li>
    <li><span><a href="https://developer3.oculus.com/documentation/vrweb/latest/concepts/carmel-launching-content/">Launching WebVR content in Carmel</a></span></li>
    <li><span><a href="https://developer3.oculus.com/documentation/vrweb/latest/concepts/carmel-remote-debugging/">Debugging (USB/Wi-Fi) WebVR content in Carmel</a></span></li>
  </ul>
{% endblock %}

{% block help %}
  <dl>
    <dt id="what_is_carmel">
      <a href="#what_is_carmel">What is “Carmel” vs. “Oculus Browser”?</a>
    </dt>
    <dd>
      “Carmel” was the former codename for a developer preview of Oculus&rsquo; VR browser. This release focused on running 3D, WebVR API content in VR; comprehensive 2D support is planned for a later release. Now, you should use only the official <strong>Oculus Browser</strong> for browsing with the {{ headsets.samsung_gear_vr.name }}.
    </dd>
    <dt id="faq_viewing">
      <a href="#faq_viewing">How do I view 2D content in the Oculus Browser?</a>
    </dt>
    <dd>
      The Oculus Browser does not yet have common browser UI visible within VR (e.g., a URL bar, navigation buttons, bookmarks, history). The Developer release was focused on running 3D, WebVR API content in VR; comprehensive 2D support is planned for a later release.
    </dd>
    <dt id="faq_navigating">
      <a href="#faq_navigating">How do I navigate between WebVR sites?</a>
    </dt>
    <dd>
      Navigating to an arbitrary link by a URL can be done using the <code>ovrweb:</code> protocol to do so. For instructions, refer to the <a href="https://developer3.oculus.com/documentation/vrweb/latest/">Oculus WebVR Guide</a>, specifically the <a href="https://developer3.oculus.com/documentation/vrweb/latest/concepts/carmel-getting-started/#carmel-getting-started-d431e49"><em>Carmel Getting Started</em> docs</a> and the <a href="https://developer3.oculus.com/documentation/vrweb/latest/concepts/carmel-launching-content/"><em>Launching Your Content</em> docs</a>.
    </dd>
    <dt id="faq_debugging">
      <a href="#faq_debugging">How do I debug my WebVR site?</a>
    </dt>
    <dd>
      Refer to the <a href="https://developer3.oculus.com/documentation/vrweb/latest/concepts/carmel-remote-debugging/"><em>Debugging Your Content</em> docs</a> for details on remotely (and locally) debugging (using a USB or Wi-Fi connection) your WebVR content in the Oculus Browser.
    </dd>
  </dl>
{% endblock %}

{% block reports_block %}
{% endblock %}
