{% from '_helpers.html' import author_item, browsers %}
{% set browser = browsers.oculus_carmel %}
{% set page = 'oculus_carmel.html' %}
<!doctype html>
<html lang="en" data-layout="secondary" data-browser="{{ browser.slug }}">
  <head>
    {% include '_head.html' %}
    <title>{{ browser.name }} • WebVR Rocks</title>
  </head>
  <body>
    <header id="header" class="header" role="banner">
      <div class="container section">
        {% include '_logo.html' %}

        <a class="browser-link" href="{{ browser.about }}">
          <h1 class="browser-name">{{ browser.name }}</h1>
          <img class="browser-icon" src="{{ browser.logo }}" alt="{{ browser.name }}" title="{{ browser.name }}">
        </a>

        <p class="browser-intro">{{ (browser.description_html or browser.description)|safe }}</p>

        <figure class="media">
          <a href="{{ browser.url }}"><img src="https://dl.airtable.com/ybEJm6RVTFqC0XvhrX6H_full_12410271_1498109746883523_7443893749555396608_n.jpg" alt="Oculus Carmel" width="450"></a>
          <figcaption class="hidden-text">Oculus Carmel</figcaption>
        </figure>

        <div id="download" class="download dropdown-standalone dropdown-download">
          <a href="https://www.oculus.com/experiences/gear-vr/1290985657630933/" class="button button-unstyled button-large button-download" data-download-name="{{ browser.slug }}" data-download-id="{{ browser.softwareVersion }}">Download {% include "media/img/download-icon.svg" %} <span class="download-info c"><span class="download-date">Version 0.2-004014</span> <span class="download-size">64.18 MB</span></span></a>
        </div>
      </div>
    </header>

    <main id="main" class="main" role="main">
      <div class="container">

        <section id="setup" class="section setup" data-section="setup">
          <h2><a href="#setup">Instructions</a></h2>
          <ol>
            <li>
              <p>Search for and <strong>install <a href="{{ browser.url }}">Carmel Developer Preview</a></strong> from the <strong>Oculus Gear VR store</strong>.</p>
              <figure class="media-outlined">
                <img src="oculus_carmel/app.png" width="200">
                <figcaption>Oculus Carmel install screen</figcaption>
              </figure>
            </li>
            <li>
              Launch <strong>Carmel Developer Preview</strong> from your <strong>Gear VR Library</strong>.
            </li>
            <li>
              <p><stong>Enjoy the included WebVR demos!</stong></p>
              <figure class="media-outlined">
                <img src="https://dl.airtable.com/ZtmdSF5gRBqzuICpspK6_full_12386444_1799525440318007_1635011178193223680_n.jpg" width="300">
                <figcaption>Launch Carmel to browse these WebVR demos</figcaption>
              </figure>
            </li>
          </ol>
        </section>

        <section id="releases" class="section" data-section="releases">
          <h2><a href="#releases">Latest version</a></h2>
          <h4><a href="" itemprop="softwareApplication"></a></h4>
          <article itemscope itemtype="http://schema.org/SoftwareApplication">
            <dl>
              <dt class="browser-download">Download</dt>
              <dd>
                <a class="button button-outlined-approve button-download" href="https://www.oculus.com/experiences/gear-vr/1290985657630933/" data-download-name="{{ browser.slug }}" data-download-id="{{ browser.softwareVersion }}" itemprop="downloadUrl">Download</a>
              </dd>
              <dt class="browser-system-requirements">System requirements</dt>
              <dd>
                <span class="operatingSystems">Samsung Gear VR</span>
              </dd>
              <dt class="browser-version">Version</dt>
              <dd>
                <span class="version">0.2-004014</span>
              </dd>
              <dt class="browser-file-size">File size</dt>
              <dd>
                <span itemprop="fileSize" content="64.18MB">64.18 MB</span>
              </dd>
              <dt class="browser-release-notes">Release notes</dt>
              <dd>
                <ul class="release-notes">
                  <li>A preview of the new VR browser from Oculus, code named "Carmel." This release focuses on running 3D WebVR API content in VR with comprehensive 2D support planned for a later release. Check out WebVR projects from other developers and test your own experiences.</li>
                  <li>Carmel browser does not yet have any browser UI.  Navigating to a arbitrary URL can be done using the <code>ovrweb</code> protocol to do so. For instructions, see <a href="https://developer3.oculus.com/documentation/vrweb/latest/concepts/carmel-launching-content/">Launching Your Content</a> on the Oculus VR web resource.</li>
                </ul>
              </dd>
            </dl>
          </article>
        </section>

        <section id="info" class="section info" data-section="info">
          <h2><a href="#info">Links</a></h2>
          <ul>
            <li><a href="https://developer.oculus.com/webvr/">Oculus WebVR Developer Hub</a></li>
            <li><a href="https://developer.oculus.com/blog/introducing-the-react-vr-pre-release/">React VR Pre-release</a></li>
            <li><a href="https://github.com/OculusVR/ovrui">OVRUI toolkit</a></li>
          </ul>
        </section>

      </div>
    </main>

    {% include '_footer.html' %}
  </body>
</html>
