<!doctype html>
<html lang="en" data-browser="oculus_carmel">
  <head>
    {% include "_head.html" %}
    <title>Oculus Carmel • WebVR Rocks</title>
  </head>
  <body>
    <header id="header" class="header" role="banner">
      <div class="container section">
        <p class="hidden-text"><a href="/" aria-controls="main" tabindex="0">&#xAB; Back to WebVR Rocks home</a></p>

        {% include "_logo.html" %}

        <!--<div class="cf"><a href="https://github.com/webvrrocks/webvrrocks/edit/master/public/oculus_carmel.html" title="Edit on GitHub" class="button button-primary pull-right">Edit on GitHub</a></div>-->

        <header class="browser-header">
          <a class="browser-link" href="/oculus_carmel">
            <h1 class="browser-name">Oculus Carmel</h1>
            <img class="browser-icon browser-icon-carmel" src="/oculus_carmel/icon.png" alt="Oculus Carmel" title="Oculus Carmel">
          </a>
        </header>

        <p class="browser-intro"><a href="https://www.oculus.com/experiences/gear-vr/1290985657630933/">Full, WebVR-only browser</a> by <a href="https://www.oculus.com/">Oculus</a>.</p>
      </div>
    </header>

    <main id="main" class="main" role="main">
      <div class="container">
      </div>
    </main>

    {% include "_footer.html" %}
  </body>
</html>
