<!doctype html>
<html lang="en" data-layout="headset oculus_rift" data-headset="oculus_rift">
  <head>
    {% include "_head.html" %}
    <title>Oculus Rift • WebVR Rocks</title>
  </head>
  <body>
    <header id="header" class="header section" role="banner">
      <div class="container">
        <p class="hidden-text"><a href="/" aria-controls="main" tabindex="0">&#xAB; Back to WebVR Rocks home</a></p>

        <!--<div class="cf"><a href="https://github.com/webvrrocks/webvrrocks/edit/public/oculus_rift.html" title="Edit on GitHub" class="button button-primary pull-right">Edit on GitHub</a></div>-->

        <!-- TODO: Change to `headset-*` classes. -->
        <header class="browser-header">
          <a class="browser-link" href="/oculus_rift">
            <h1 class="browser-name">Oculus Rift</h1>
            <img class="browser-icon browser-icon-oculus-rift" src="/oculus_rift/logo.png" alt="Oculus Rift" title="Oculus Rift">
          </a>
        </header>

        <p class="browser-intro"><a href="https://www3.oculus.com/en-us/rift/">Oculus Rift</a> is a headset.</p>
      </div>
    </header>

    <main id="main" class="main" role="main">
      <div class="container">
      </div>
    </main>

    {% include "_footer.html" %}
  </body>
</html>
