{% from '_helpers.html' import author_item, browsers, compat_report_row, demo_item %}
{% set browser = browsers.samsung_internet %}
{% set page = 'samsung_internet.html' %}
<!doctype html>
<html lang="en" data-layout="secondary" data-browser="{{ browser.slug }}">
  <head>
    {% include '_head.html' %}
    <title>{{ browser.name }} • WebVR Rocks</title>
  </head>
  <body>
    <header id="header" class="header" role="banner">
      <div class="container section">
        {% include '_logo.html' %}

        <a class="browser-link" href="{{ browser.about }}">
          <h1 class="browser-name">{{ browser.name }}</h1>
          <img class="browser-icon" src="{{ browser.logo }}" alt="{{ browser.name }}" title="{{ browser.name }}">
        </a>

        <p class="browser-intro">{{ (browser.description_html or browser.description)|safe }}</p>

        <figure class="media">
          <a href="{{ browser.url }}" data-download-name="{{ browser.slug }}" data-download-id="{{ browser.softwareVersion }}"><img src="samsung_internet/samsung-internet-browser-gear-vr.jpg" alt="Samsung Internet Browser for Gear VR" width="450"></a>
          <figcaption class="hidden-text">Samsung Internet Browser for Gear VR</figcaption>
        </figure>

        <div id="download" class="download dropdown-standalone dropdown-download">
          <a href="{{ browser.url }}" class="button button-unstyled button-large button-download" data-download-name="{{ browser.slug }}" data-download-id="{{ browser.softwareVersion }}">Download {% include "media/img/download-icon.svg" %} <span class="download-info c"><span class="download-date">Version 4.2.00-14</span> <span class="download-size">298.85 MB</span></span></a>
        </div>
      </div>
    </header>

    <main id="main" role="main">
      <div class="container">

        <section id="setup" class="section setup" data-section="setup">
          <h2><a href="#setup">Instructions</a></h2>
          <ol>
            <li>
              <p>Search for and <strong>install <a href="{{ helpers.browsers.samsung_internet.url }}">Samsung Internet Browser</a></strong> from the <strong>Oculus Gear VR store</strong>.</p>
              <figure class="media-outlined">
                <img src="samsung_internet/app.png" width="200">
                <figcaption>Oculus Carmel install screen</figcaption>
              </figure>
            </li>
            <li>
              <strong>Launch</strong> Samsung Internet Browser from your <strong>Gear VR Library</strong>.
            </li>
            <li>Navigate to a WebVR-compatible site.</li>
            <li>Accept the option to enable WebVR.</li>
            <li>Enjoy!</li>
          </ol>
        </section>

        <section id="releases" class="section" data-section="releases">
          <h2><a href="#releases">Latest version</a></h2>
          <h4><a href="" itemprop="softwareApplication"></a></h4>
          <article itemscope itemtype="http://schema.org/SoftwareApplication">
            <dl>
              <dt class="browser-download">Download</dt>
              <dd>
                <a class="button button-outlined-approve button-download" href="{{ browser.url }}" data-download-name="{{ browser.slug }}" data-download-id="{{ browser.softwareVersion }}" itemprop="downloadUrl">Download</a>
              </dd>
              <dt class="browser-system-requirements">System requirements</dt>
              <dd>
                <span class="operatingSystems">Samsung Gear VR</span>
              </dd>
              <dt class="browser-version">Version</dt>
              <dd>
                <span class="version">4.2.00-14</span>
              </dd>
              <dt class="browser-file-size">File size</dt>
              <dd>
                <span itemprop="fileSize" content="298.85MB">298.85 MB</span>
              </dd>
              <dt class="browser-release-notes">Release notes</dt>
              <dd>
                <ul class="release-notes">
                  <li>WebVR is a experimental feature and is enabled by visiting a WebVR compatible site where user will be prompted to enable the feature.</li>
                </ul>
              </dd>
            </dl>
          </article>
        </section>

        <section id="known-issues" class="section" data-section="known-issues">
          <h2><a href="#known-issues">Known issues</a></h2>
          <p>These known issues apply to the latest published version available from the Oculus Gear VR app store.</p>
          <ul>
            <li>
              <p>Latency is quite high and resolution is low.   Content is very pixelated.</p>
            </li>
          </ul>
        </section>

        <section id="demos" class="section demos" data-section="demos">
          <h2><a href="#demos">Demos</a></h2>
          <ul data-section="demos" class="matrix grid-flex-container">
            {{ demo_item('three_examples') }}
            {{ demo_item('aframe_examples') }}
          </ul>
        </section>

        <section id="info" class="section" data-section="info">
          <h2><a href="#info">Links</a></h2>
          <ul>
            <li>
              <a href="https://developer.samsung.com/internet#gearvr-overview">Developer pages for Samsung Internet on Gear VR</a>
            </li>
          </ul>
        </section>
      </div>
    </main>

    {% include '_footer.html' %}
  </body>
</html>
