<!doctype html>
<html lang="en" data-headset="samsung_gear_vr">
  <head>
    {% include "_head.html" %}
    <title>Samsung Internet Browser • WebVR Rocks</title>
  </head>
  <body>
    <header id="header" class="header" role="banner">
      <div class="container section">
        <p class="hidden-text"><a href="/" aria-controls="main" tabindex="0">&#xAB; Back to WebVR Rocks home</a></p>

        {% include "_logo.html" %}

        <!--<div class="cf"><a href="https://github.com/webvrrocks/webvrrocks/edit/public/samsung_internet.html" title="Edit on GitHub" class="button button-primary pull-right">Edit on GitHub</a></div>-->

        <a class="browser-link" href="/samsung_internet">
          <h1 class="browser-name">Samsung Internet Browser</h1>
          <img class="browser-icon browser-icon-samsung-internet" src="/samsung_internet/logo.png" alt="Samsung Internet Browser" title="Samsung Internet Browser">
        </a>

        <p class="browser-intro"><a href="https://www.oculus.com/experiences/gear-vr/849609821813454/">Samsung Internet Browser</a> is a browser for the <a href="https://www.samsung.com/global/galaxy/gear-vr/">Samsung Gear VR</a> headset.</p>
      </div>
    </header>

    <main id="main" role="main">
      <div class="container">
      </div>
    </main>

    <footer id="footer" class="footer section">
      <p id="license" class="license">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png"></a><br><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">WebVR Rocks</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/webvrrocks" property="cc:attributionName" rel="cc:attributionURL">WebVR Rocks authors</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.<br>Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/webvrrocks/webvrrocks" rel="dct:source">https://github.com/webvrrocks/webvrrocks</a>.
      </p>
    </footer>
  </body>
</html>
