<!doctype html>
<html lang="en" data-layout="secondary" data-headset="samsung_gear_vr">
  <head>
    {% include '_head.html' %}
    <title>Samsung Internet Browser • WebVR Rocks</title>
  </head>
  <body>
    <header id="header" class="header" role="banner">
      <div class="container section">
        <p class="hidden-text"><a href="/" aria-controls="main" tabindex="0">&#xAB; Back to WebVR Rocks home</a></p>

        {% include "_logo.html" %}

        <!--<div class="cf"><a href="https://github.com/webvrrocks/webvrrocks/edit/public/samsung_internet.html" title="Edit on GitHub" class="button button-primary pull-right">Edit on GitHub</a></div>-->

        <a class="browser-link" href="/samsung_internet">
          <h1 class="browser-name">Samsung Internet Browser</h1>
          <img class="browser-icon browser-icon-samsung-internet" src="/samsung_internet/logo.png" alt="Samsung Internet Browser" title="Samsung Internet Browser">
        </a>

        <p class="browser-intro"><a href="https://www.oculus.com/experiences/gear-vr/849609821813454/">Samsung&rsquo;s browser</a> for the <a href="https://www.samsung.com/global/galaxy/gear-vr/">Gear VR</a></p>
      </div>
    </header>

    <main id="main" role="main">
      <div class="container">

        <section id="setup" class="section setup">
          <h2><a href="#setup">Instructions</a></h2>
          <ol>
            <li>Search for and install <code>Samsung Internet</code>.</li>
            <li>Launch Samsung Internet browser from your Oculus Gear VR library.</li>
            <li>Navigate to a WebVR compatible site.</li>
            <li>Accept the option to enable WebVR.</li>
            <li>Enjoy!</li>
          </ol>
        </section>

        <section id="releases" class="section releases">
          <h2><a href="#releases">Latest version</a></h2>
          <h4><a href="" itemprop="softwareApplication"></a></h4>
          <article itemscope itemtype="http://schema.org/SoftwareApplication">
            <dl>
              <dt class="browser-download">Download</dt>
              <dd>
                <a class="button button-outlined-approve button-download" href="https://www.oculus.com/experiences/gear-vr/849609821813454/" itemprop="downloadUrl">Download</a>
              </dd>
              <dt class="browser-system-requirements">System requirements</dt>
              <dd>
                <span class="operatingSystems">Samsung Gear VR</span>
              </dd>
              <dt class="browser-version">Version</dt>
              <dd>
                <span class="version">4.2.00-14</span>
              </dd>
              <dt class="browser-file-size">File size</dt>
              <dd>
                <span itemprop="fileSize" content="298.85MB">298.85 MB</span>
              </dd>
              <dt class="browser-release-notes">Release notes</dt>
              <dd>
                <ul class="release-notes">
                  <li>WebVR is a experimental feature and is enabled by visiting a WebVR compatible site where user will be prompted to enable the feature.</li>
                </ul>
              </dd>
            </dl>
          </article>
        </section>

        <section id="known-issues" class="section known-issues">
          <h2><a href="#known-issues">Known issues</a></h2>
          <p>These known issues apply to the latest published version available from the Oculus Gear VR app store.</p>
          <ul>
            <li>
              <p>Latency is quite high and resolution is low.   Content is very pixelated.</p>
            </li>
          </ul>
        </section>
      </div>
    </main>

    {% include '_footer.html' %}
  </body>
</html>
