{% from '_helpers.html' import author_item, browsers, site_title %}
{% set browser = browsers.servo %}
{% set page = 'servo.html' %}
<!doctype html>
<html lang="en" data-layout="secondary" data-browser="{{ browser.slug }}">
  <head>
    {% include '_head.html' %}
    <title>{{ browser.name }} • {{ site_title }}</title>
  </head>
  <body>
    <header id="header" class="header" role="banner">
      <div class="container section">
        {% include '_logo.html' %}

        <a class="page-heading-link" href="{{ browser.about }}">
          <h1 class="browser-name page-heading">{{ browser.name }}</h1>
          <img class="browser-icon page-heading-icon" src="{{ browser.logo }}" alt="{{ browser.name }}" title="{{ browser.name }}">
        </a>

        <p class="browser-intro page-intro">{{ (browser.description_html or browser.description)|safe }}</p>

        <p class="message message-alert">
          <strong>Warning:</strong> All <a href="#releases">Servo WebVR builds posted here</a> are highly experimental and subject to change!
        </p>

        <div id="download" class="download dropdown-standalone dropdown-download">
          <a href="{{ browser.downloadUrl }}" class="button button-unstyled button-large button-download" data-download-name="{{ browser.slug }}" data-download-id="{{ browser.softwareVersion }}">Download {% include "media/img/download-icon.svg" %}
            <span class="download-info c">
              {% if browser.showVersion and browser.releases.latest.version %}
                <span class="download-version">Version {{ browser.releases.latest.version }}</span>
              {%- endif %}
              {% if browser.showDateReleased and browser.releases.latest.dateReleased %}
                <span class="download-date">{{ browser.releases.latest.dateReleased.datetimeString }}</span>
              {%- endif %}
              {%- if browser.showFileSize and browser.releases.latest.fileSize %}
                <span class="download-size">{{ browser.releases.latest.fileSize }}</span>
              {%- endif -%}
            </span>
          </a>
        </div>
        <p class="view-source">
          <a href="https://github.com/MortimerGoro/servo/tree/webvr_api" class="button-source no-underline">View source</a>
        </p>
      </div>
    </header>

    <main id="main" class="main" role="main">
      <div class="container">

        <section id="setup" class="section setup" data-section="setup">
          <h2><a href="#setup">Instructions</a></h2>
          <ol class="bullets-light">
            <li><span>See this post about <a href="https://blog.mozvr.com/webvr-servo-architecture-and-latency-optimizations/">WebVR coming to Servo</a>.</span></li>
            <li><span>Download the <a href="{{ browser.downloadUrl }}" data-download-name="{{ browser.slug }}" data-download-id="{{ browser.softwareVersion }}">experimental WebVR Servo build</a>.</span></li>
            <li><span>Extract the <a href="http://www.7-zip.org">RAR archive</a> into an appropriate location.</span></li>
            <li><span>Open the Windows command line by clicking on the Windows <code>Start</code> menu and entering <code>cmd.exe</code>.</span></li>
            <li><span>Open the directory to which you extracted the archive (e.g., <code>cd C:\%USERPROFILE%\Downloads\servo-webvr\</code>).</span></li>
            <li><span>Run <code>servo.exe --resources-path resources webvr\room-scale.html</code>.</span></li>
            <li><span>When the sample page loads, click on the <code>Enter VR</code> button, and enjoy!</span></li>
          </ol>
        </section>

        <section id="releases" class="section" data-section="releases">
          <h2><a href="#releases">Latest version</a></h2>
          <article itemscope itemtype="http://schema.org/SoftwareApplication">
            <dl>
              <dt class="browser-download">Download</dt>
              <dd>
                <a class="button button-outlined-approve button-download" href="{{ browser.downloadUrl }}" data-download-name="{{ browser.slug }}" data-download-id="{{ browser.softwareVersion }}" itemprop="downloadUrl">Download</a>
              </dd>
              <dt class="browser-date-released">Date released</dt>
              <dd>
                <time itemprop="datePublished" datetime="2016-12-16T9:39:00Z">
                  Dec 16, 2016
                </time>
              </dd>
              <dt class="browser-system-requirements">System requirements</dt>
              <dd>
                <span class="operatingSystems">Windows</span>
              </dd>
              <dt class="browser-file-size">File size</dt>
              <dd>
                <span itemprop="fileSize" content="36MB">36 MB</span>
              </dd>
              <dt class="browser-release-notes">Release notes</dt>
              <dd>
                <ul class="release-notes bullets-light">
                  <li><span>Currently works with the <a href="/htc_vive">HTC Vive</a> only.</span></li>
                </ul>
              </dd>
            </dl>
          </article>
        </section>

        <section id="compat" class="section" data-section="compat">
          <div id="compatibility"></div>
          <div id="known_issues"></div>
          <div id="known-issues"></div>
          <h2><a href="#compat">Known issues</a></h2>
          <ul class="bullets-light">
            <li>
              <span>
                <p>The Servo window might flicker while running WebGL because of <a href="https://github.com/servo/servo/issues/14235">issue #14235</a>. But, don&rsquo;t be scared; the headset won't flicker because it uses a different render path!</p>
              </span>
            </li>
          </ul>
        </section>

        <section id="info" class="section" data-section="info">
          <h2><a href="#info">Links</a></h2>
          <div id="links"></div>
          <ul class="bullets-light">
            <li><span><a href="https://blog.mozvr.com/webvr-servo-architecture-and-latency-optimizations/">Mozilla VR Blog: <em>WebVR Coming to Servo: Architecture and Latency Optimizations</em></a></span></li>
            <li><span><a href="https://blog.mozvr.com/webvr-coming-to-servo-part-1/">Mozilla VR Blog: <em>WebVR Coming to Servo: Introduction</em></a></span></li>
          </ul>
        </section>
      </div>
    </main>

    {% include '_footer.html' %}
  </body>
</html>
