<!doctype html>
<html lang="en" data-layout="secondary" data-browser="servo">
  <head>
    {% include "_head.html" %}
    <title>Servo • WebVR Rocks</title>
  </head>
  <body>
    <header id="header" class="header" role="banner">
      <div class="container section">
        <p class="hidden-text"><a href="/" aria-controls="main" tabindex="0">&#xAB; Back to WebVR Rocks home</a></p>

        {% include "_logo.html" %}

        <!--<div class="cf"><a href="https://github.com/webvrrocks/webvrrocks/edit/public/servo.html" title="Edit on GitHub" class="button button-primary pull-right">Edit on GitHub</a></div>-->

        <a class="browser-link" href="/servo">
          <h1 class="browser-name">Servo</h1>
          <img class="browser-icon browser-icon-samsung-internet" src="/servo/icon.svg" alt="Servo" title="Servo">
        </a>

        <p class="browser-intro"><a href="https://www.mozilla.org/">Mozilla</a>&rsquo;s <a href="https://servo.org/">next-generation browser engine</a> designed for highly parallel, embedded uses</p>
      </div>
    </header>

    <main id="main" role="main">
      <div class="container">

        <section id="setup" class="section setup">
          <h2><a href="#setup">Instructions</a></h2>
          <ol>
            <li>See post <a href="https://blog.mozvr.com/webvr-servo-architecture-and-latency-optimizations/">WebVR coming to Servo</a>
            <li>Download experimental WebVR Servo build.</li>
            <li>Unpack the RAR archive into an appropriate location.</li>
            <li>Open Windows command line by clicking on Windows Start menu, and typing `cmd.exe` to launch the command line.</li>
            <li>Change to the directory where you unpacked the archive. eg: `cd c:\servo-webvr\`</li>
            <li>Run `servo.exe --resources-path resources webvr\room-scale.html`</li>
            <li>Click the `Enter VR` button.</li>
          </ol>
        </section>

        <section id="releases" class="section releases">
          <h2><a href="#releases">Latest version</a></h2>
          <h4><a href="" itemprop="softwareApplication"></a></h4>
          <article itemscope itemtype="http://schema.org/SoftwareApplication">
            <dl>
              <dt class="browser-download">Download</dt>
              <dd>
                <a class="button button-outlined-approve button-download" href="https://github.com/MortimerGoro/servo/releases/tag/0.2" itemprop="downloadUrl">Download</a>
              </dd>
              <dt class="browser-system-requirements">System requirements</dt>
              <dd>
                <span class="operatingSystems">Windows</span>
              </dd>
              <dt class="browser-file-size">File size</dt>
              <dd>
                <span itemprop="fileSize" content="36MB">36 MB</span>
              </dd>
              <dt class="browser-release-notes">Release notes</dt>
              <dd>
                <ul class="release-notes">
                  <li>Works with HTC VIVE only.</li>
                </ul>
              </dd>
            </dl>
          </article>
        </section>

        <section id="info" class="section info">
          <h2><a href="#info">Info</a></h2>
          <dl>
            <dt><a href="https://blog.mozvr.com/webvr-servo-architecture-and-latency-optimizations/">WebVR coming to Servo: Architecture and latency optimizations</a></dt>
          </dl>
          <dl>
            <dt><a href="https://blog.mozvr.com/webvr-coming-to-servo-part-1/">WebVR Coming to Servo: Part 1</a></dt>
          </dl>
        </section>
      </div>
    </main>

    {% include "_footer.html" %}
  </body>
</html>
