{% from '_helpers.html' import author_item, browsers %}
{% set browser = browsers.servo %}
{% set page = 'servo.html' %}
<!doctype html>
<html lang="en" data-layout="secondary" data-browser="{{ browser.slug }}">
  <head>
    {% include '_head.html' %}
    <title>{{ browser.name }} • WebVR Rocks</title>
  </head>
  <body>
    <header id="header" class="header" role="banner">
      <div class="container section">
        {% with page=page %}
          {% include '_logo.html' %}
        {% endwith %}

        <a class="browser-link" href="{{ browser.about }}">
          <h1 class="browser-name">{{ browser.name }}</h1>
          <img class="browser-icon browser-icon-chromium" src="{{ browser.logo }}" alt="{{ browser.name }}" title="{{ browser.name }}">
        </a>

        <p class="browser-intro">{{ (browser.description_html or browser.description)|safe }}</p>

        <div class="message message-alert">
          <strong>Warning:</strong> All <a href="#releases">Servo WebVR builds posted here</a> are highly experimental and subject to change!
        </div>
      </div>
    </header>

    <main id="main" role="main">
      <div class="container">

        <section id="setup" class="section setup">
          <h2><a href="#setup">Instructions</a></h2>
          <ol>
            <li>See post <a href="https://blog.mozvr.com/webvr-servo-architecture-and-latency-optimizations/">WebVR coming to Servo</a>
            <li>Download experimental WebVR Servo build.</li>
            <li>Unpack the RAR archive into an appropriate location.</li>
            <li>Open Windows command line by clicking on Windows Start menu, and typing `cmd.exe` to launch the command line.</li>
            <li>Change to the directory where you unpacked the archive. eg: `cd c:\servo-webvr\`</li>
            <li>Run `servo.exe --resources-path resources webvr\room-scale.html`</li>
            <li>Click the `Enter VR` button.</li>
          </ol>
        </section>

        <section id="releases" class="section releases">
          <h2><a href="#releases">Latest version</a></h2>
          <h4><a href="" itemprop="softwareApplication"></a></h4>
          <article itemscope itemtype="http://schema.org/SoftwareApplication">
            <dl>
              <dt class="browser-download">Download</dt>
              <dd>
                <a class="button button-outlined-approve button-download" href="https://github.com/MortimerGoro/servo/releases/tag/0.2" itemprop="downloadUrl">Download</a>
              </dd>
              <dt class="browser-system-requirements">System requirements</dt>
              <dd>
                <span class="operatingSystems">Windows</span>
              </dd>
              <dt class="browser-file-size">File size</dt>
              <dd>
                <span itemprop="fileSize" content="36MB">36 MB</span>
              </dd>
              <dt class="browser-release-notes">Release notes</dt>
              <dd>
                <ul class="release-notes">
                  <li>Works with HTC VIVE only.</li>
                </ul>
              </dd>
            </dl>
          </article>
        </section>

        <section id="known-issues" class="section known-issues">
          <h2><a href="#known-issues">Known issues</a></h2>
          <ul>
            <li>
              <p>The Servo window might flicker while running WebGL because of <a href="https://github.com/servo/servo/issues/14235">Issue #14235</a>. But don't be scared, the headset won't flicker because it uses a different render path ;)</p>
            </li>
          </ul>
        </section>

        <section id="info" class="section info">
          <h2><a href="#info">Info</a></h2>
          <dl>
            <dt><a href="https://blog.mozvr.com/webvr-servo-architecture-and-latency-optimizations/">WebVR coming to Servo: Architecture and latency optimizations</a></dt>
          </dl>
          <dl>
            <dt><a href="https://blog.mozvr.com/webvr-coming-to-servo-part-1/">WebVR Coming to Servo: Part 1</a></dt>
          </dl>
        </section>
      </div>
    </main>

    {% include '_footer.html' %}
  </body>
</html>
