@font-face {
  font-family: 'SF UI Text';
  src: url(../fonts/SFUIText-Light.eot);
  src: local('SF UI Text Light'), local('SFUIText-Light'),
    url(../fonts/SFUIText-Light.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUIText-Light.woff2) format('woff2'),
    url(../fonts/SFUIText-Light.woff) format('woff'),
    url(../fonts/SFUIText-Light.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url(../fonts/SFUIText-UltralightItalic.eot);
  src: local('SF UI Text Ultralight Italic'), local('SFUIText-UltralightItalic'),
    url(../fonts/SFUIText-UltralightItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUIText-UltralightItalic.woff2) format('woff2'),
    url(../fonts/SFUIText-UltralightItalic.woff) format('woff'),
    url(../fonts/SFUIText-UltralightItalic.ttf) format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF UI Text';
  src: url(../fonts/SFUIText-Regular.eot);
  src: local('SF UI Text Regular'), local('SFUIText-Regular'),
    url(../fonts/SFUIText-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUIText-Regular.woff2) format('woff2'),
    url(../fonts/SFUIText-Regular.woff) format('woff'),
    url(../fonts/SFUIText-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url(../fonts/SFUIText-Heavy.eot);
  src: local('SF UI Text Heavy'), local('SFUIText-Heavy'),
    url(../fonts/SFUIText-Heavy.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUIText-Heavy.woff2) format('woff2'),
    url(../fonts/SFUIText-Heavy.woff) format('woff'),
    url(../fonts/SFUIText-Heavy.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url(../fonts/SFUIText-BoldItalic.eot);
  src: local('SF UI Text BoldItalic'), local('SFUIText-BoldItalic'),
    url(../fonts/SFUIText-BoldItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUIText-BoldItalic.woff2) format('woff2'),
    url(../fonts/SFUIText-BoldItalic.woff) format('woff'),
    url(../fonts/SFUIText-BoldItalic.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SF UI Text';
  src: url(../fonts/SFUIText-LightItalic.eot);
  src: local('SF UI Text LightItalic'), local('SFUIText-LightItalic'),
    url(../fonts/SFUIText-LightItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUIText-LightItalic.woff2) format('woff2'),
    url(../fonts/SFUIText-LightItalic.woff) format('woff'),
    url(../fonts/SFUIText-LightItalic.ttf) format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF UI Text';
  src: url(../fonts/SFUIText-RegularItalic.eot);
  src: local('SF UI Text Regular Italic'), local('SFUIText-RegularItalic'),
    url(../fonts/SFUIText-RegularItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUIText-RegularItalic.woff2) format('woff2'),
    url(../fonts/SFUIText-RegularItalic.woff) format('woff'),
    url(../fonts/SFUIText-RegularItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF UI Text';
  src: url(../fonts/SFUIText-Ultralight.eot);
  src: local('SF UI Text Ultralight'), local('SFUIText-Ultralight'),
    url(../fonts/SFUIText-Ultralight.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUIText-Ultralight.woff2) format('woff2'),
    url(../fonts/SFUIText-Ultralight.woff) format('woff'),
    url(../fonts/SFUIText-Ultralight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url(../fonts/SFUIText-Medium.eot);
  src: local('SF UI Text Medium'), local('SFUIText-Medium'),
    url(../fonts/SFUIText-Medium.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUIText-Medium.woff2) format('woff2'),
    url(../fonts/SFUIText-Medium.woff) format('woff'),
    url(../fonts/SFUIText-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url(../fonts/SFUIText-Bold.eot);
  src: local('SF UI Text Bold'), local('SFUIText-Bold'),
    url(../fonts/SFUIText-Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUIText-Bold.woff2) format('woff2'),
    url(../fonts/SFUIText-Bold.woff) format('woff'),
    url(../fonts/SFUIText-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url(../fonts/SFUIText-SemiboldItalic.eot);
  src: local('SF UI Text SemiboldItalic'), local('SFUIText-SemiboldItalic'),
    url(../fonts/SFUIText-SemiboldItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUIText-SemiboldItalic.woff2) format('woff2'),
    url(../fonts/SFUIText-SemiboldItalic.woff) format('woff'),
    url(../fonts/SFUIText-SemiboldItalic.ttf) format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SF UI Text';
  src: url(../fonts/SFUIText-HeavyItalic.eot);
  src: local('SF UI Text HeavyItalic'), local('SFUIText-HeavyItalic'),
    url(../fonts/SFUIText-HeavyItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUIText-HeavyItalic.woff2) format('woff2'),
    url(../fonts/SFUIText-HeavyItalic.woff) format('woff'),
    url(../fonts/SFUIText-HeavyItalic.ttf) format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF UI Text';
  src: url(../fonts/SFUIText-Semibold.eot);
  src: local('SF UI Text Semibold'), local('SFUIText-Semibold'),
    url(../fonts/SFUIText-Semibold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUIText-Semibold.woff2) format('woff2'),
    url(../fonts/SFUIText-Semibold.woff) format('woff'),
    url(../fonts/SFUIText-Semibold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url(../fonts/SFUIText-MediumItalic.eot);
  src: local('SF UI Text MediumItalic'), local('SFUIText-MediumItalic'),
    url(../fonts/SFUIText-MediumItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUIText-MediumItalic.woff2) format('woff2'),
    url(../fonts/SFUIText-MediumItalic.woff) format('woff'),
    url(../fonts/SFUIText-MediumItalic.ttf) format('truetype');
  font-weight: 500;
  font-style: italic;
}
