.row-container
  display flex
  flex-direction column

.column-container
  display flex
  flex-direction row

.row-container > .row,
.column-container > .column
  flex 1 1 0

.row-container > .one-row,
.column-container > .one-column
  flex 1 1 0

.row-container > .two-row,
.column-container > .two-column
  flex 2 2 0

.row-container > .three-row,
.column-container > .three-column
  flex 3 3 0

.row-container > .four-row,
.column-container > .four-column
  flex 4 4 0

.row-container > .five-row,
.column-container > .five-column
  flex 5 5 0

.row-container > .six-row,
.column-container > .six-column
  flex 6 6 0

.row-container > .seven-row,
.column-container > .seven-column
  flex 7 7 0

.row-container > .eight-row,
.column-container > .eight-column
  flex 8 8 0

.row-container > .nine-row,
.column-container > .nine-column
  flex 9 9 0

.row-container > .ten-row,
.column-container > .ten-column
  flex 10 10 0

.row-container > .eleven-row,
.column-container > .eleven-column
  flex 11 11 0

.row-container > .twelve-row,
.column-container > .twelve-column
  flex 12 12 0

.row-container > .auto-row,
.column-container > .auto-column
  flex 0 0 auto

.gutter > *
  margin-left 10px
  margin-right 10px
