@import 'syntax.styl'
@import 'system-font.styl'
@import 'monospace-font.styl'

color-black = #111
color-main = #efefef
color-main-darker = #333
color-text-darker = #111
color-text = #666
color-text-light = #666
color-primary = rgb(42,170,125)
color-link = #154cbd
color-link-active = #2b43ff
color-link-visited = #2b43ff
color-link-hover = darken(#154cbd, 30%)

font-body = system
font-code = monospace

logo-width = 300px
nav-width = 30%
nav-height = 40px
column-max-width = 600px
mobile-width = 600px

github-repo-size = 20
github-repo-size-with-units = github-repo-size px

github-repo-padding = 10
github-repo-padding-with-units = github-repo-padding px

z-index-github-repo-link = 1

// utils / mixins

.fancy-font
  font-family font-body

.normal-font
  font-family font-body

.code-font
  font-family font-code

.centerer
  display block
  text-align center

// global

*, *:before, *:after
  box-sizing border-box

*
  margin 0
  padding 0

html, body
  background-color #fff

html
  font-size 14px

body
  font 1rem/1.5 font-body
  color color-text
  font-size 1.1rem
  margin 0
  padding 0

a
  color color-link
  transition .15s all ease-in-out

a:visited
  color color-link-visited

a:active
  color color-link-active

a:hover
  color color-link-hover

h2, h3, h4, h5, h6, p, dl, ol, ul
  margin 1.5rem 0

ul,
ol,
dl
  ul,
  ol
    margin .5rem 0 .5rem 2.5rem

ol
  counter-reset item

li
  display block

li:before
  color rgba(0,0,0,.35)
  display inline-block

ul,
ol
  li:before
    display inline-block
    position absolute
    margin-left -4ch
    margin-right 1ch
    padding-right 0
    text-align right
    width 3ch

ol li:before
  content counters(item, '.') '. '
  counter-increment item

ul li:before
  content "●"

ul ul li:before
  content "○"

.nav-list
  margin 0

  li:before
    display none

h1, h2, h3, h4, h5, h6
  @extend .fancy-font
  a
    display block
    text-decoration none

.main
  padding-top 2rem

  h1, h2, h3, h4, h5, h6
    font-weight 400
    margin 2.5rem 0 1.5rem

  h1
    color #999
    line-height 1.2
    margin-bottom 2.5rem

  h2, h3, h4, h5, h6
    border-bottom 1px solid #eee

    &:hover
      border-bottom-color #ddd
    a
      padding-bottom .5rem

h1,
h1 a,
h1 a:hover,
h1 a:target
  color color-primary

h2,
h2 a,
h2 a:hover,
h2 a:visited
  color #333

h2:target
  a,
  a:hover,
  a:visited
    color color-black

h2:target,
h2:target:hover
  border-bottom-color color-black

h3,
h3 a,
h3 a:hover
  color #666
  font-size 1.5rem

.highlight
  margin-bottom 16px

code
  @extend .code-font
  font-size 1rem

pre
  background-color rgba(0,0,0,.05)
  border-radius 3px
  line-height 1.45
  margin 0
  overflow auto
  padding 10px
  word-break normal
  word-wrap normal
  pre
    background none

p code
  background #f4f4f4
  border-radius 3px
  font-size 0.9rem
  padding 3px 5px

// components

.nav-primary-item-anchor-selected
  background #fff
  color color-black
  font-weight 400
  opacity 1
  transition all 0s

.nav-toggle
  color color-black
  display none
  font-weight 400
  height nav-height
  line-height nav-height
  text-align center
  width 100%

.nav
  @extend .fancy-font
  background color-main
  font-weight 300
  height 100%
  overflow-y auto
  position fixed
  top 0
  padding-top nav-height
  width nav-width
  display flex
  flex-direction column

.nav-content
  flex 1

@media screen and (max-width: mobile-width)
  .nav
    z-index 100
    height nav-height
    padding-top 0
    width 100%
  .nav-list
    display none
  .nav-toggle
    display block

[data-nav-open="true"]
  .nav
    height 100%
  .nav-list
    display block

.nav-primary-item a
  display block
  color color-black
  font-size 1.2rem
  padding 8px 30px
  text-decoration none
  text-align right
  @media screen and (max-width: mobile-width)
    text-align center
  &:hover, &:active, &.active
    @extend .nav-primary-item-anchor-selected

.nav[data-current-path="/"] a[href="/"],
.nav[data-current-path^="/getting-started"]:not([data-current-path^="/getting-started/troubleshooting"]) a[href^="/getting-started"]:not([href^="/getting-started/troubleshooting"]),
.nav[data-current-path^="/browsers"]:not([data-current-path^="/browsers/changelog"]) a[href^="/browsers"]:not([href^="/browsers/changelog"]),
.nav[data-current-path^="/browsers/changelog"] a[href^="/browsers/changelog"],
.nav[data-current-path^="/headsets"] a[href^="/headsets"],
.nav[data-current-path^="/getting-started/troubleshooting"] a[href^="/getting-started/troubleshooting"],
.nav[data-current-path^="/directory"] a[href^="/directory"],
.nav[data-current-path^="/creating"] a[href^="/creating"],
.nav[data-current-path^="/community"] a[href^="/community"],
.nav[data-current-path^="/spec"] a[href^="/spec"],
.nav[data-current-path^="/contributing"] a[href^="/contributing"],
.nav[data-current-path^="/rocks/about"] a[href^="/rocks/about"]
  @extend .nav-primary-item-anchor-selected

.nav.elastic
  .nav-footer
    bottom auto

.nav-footer
  padding 30px
  transition .15s bottom ease-in-out
  text-align right
  width 100%

.nav-footer-item a
  color color-text
  font-size 1rem
  margin 0 10px 0 0
  text-decoration none
  white-space nowrap
  &:hover
    color color-text-darker
    opacity 1

.nav-social-list
  font-size 0
  padding 20px 30px 0 0
  text-align right
  width 100%

.nav-social-item
  display inline-block
  margin 0
  + .nav-social-item
    margin-left 20px

.social-link
  svg
    height 20px
    transition .15s transform ease-in-out
    transform scale(1)
    width 20px
  path
    fill color-text
    transition .15s fill ease-in-out
  &:hover
    path
      fill color-text-darker
    svg
      transform scale(1.2)

@media screen and (max-width: mobile-width)
  .nav-footer
    text-align center

  .nav-social-list
    padding 10px
    text-align center

.footer
  border-top 1px dotted #eee
  margin-top 3rem

.edit-page-link
  display block
  padding 1.5rem 0

.github-edit-page-link
  background url(/img/github-octocat.svg) 0 1.5rem no-repeat
  background-size github-repo-size-with-units auto
  font-size .9rem
  line-height github-repo-size-with-units
  min-height github-repo-size-with-units
  opacity .4
  padding-left (github-repo-size + github-repo-padding)px
  z-index z-index-github-repo-link
  &:hover
    opacity .8

.content
  background #fff
  padding 0 60px
  position relative
  left nav-width
  width (100% - nav-width)
  @media screen and (max-width: mobile-width)
    left 0
    padding 30px
    width 100%

.column
  margin 0 auto
  max-width column-max-width
  position relative

.tagline
  align-self center
  color #999
  margin-left 2rem
  transition .15s color ease-in-out

  strong
    font-size 2rem

.logo
  color #fff
  align-items flex-start
  display flex
  text-decoration none
  width 100%

  &:hover .tagline
    color #666

  img
    display block
    max-width 200px

  @media screen and (max-width: mobile-width)
    margin-top 40px

table.routes
  border-collapse collapse
  width 100%
  tr
    border-top 1px solid #ccc
    &:first-child
      border-top none
  th, td
    line-height 1.8
    text-align left
    &:first-child:after
      content "→"
      display block
      float right
      margin-right 20px
      opacity 0.5
      text-align right

img
  display block
  max-width 100%

hr
  background none
  border none
  border-top 1px dotted #eee
  height 0

// TODO: Remove when https://github.com/zeke/jus/issues/36 is fixed.
#__bs_notify__
  display none !important
