@import 'syntax.styl'
@import 'system-font.styl'
@import 'monospace-font.styl'
@import 'grid.styl'

color-black = #111
color-main = #efefef
color-main-darker = #333
color-text-darker = #111
color-text = #666
color-text-light = #666
color-primary = rgb(42,170,125)
color-link = #154cbd
color-link-active = #2b43ff
color-link-visited = #2b43ff
color-link-hover = darken(#154cbd, 30%)

font-body = 'Helvetica Neue', Helvetica, Arial, sans-serif
font-code = monospace

column-max-width = 600px
logo-width = 300px
mobile-width = 600px

nav-height = 3rem
nav-width = 30%

github-repo-size = 20
github-repo-size-with-units = github-repo-size px

github-repo-padding = 10
github-repo-padding-with-units = github-repo-padding px

z-index-github-repo-link = 1

// utils / mixins

.fancy-font
  font-family font-body

.normal-font
  font-family font-body

.code-font
  font-family font-code

.centerer
  display block
  text-align center

// global

*, *:before, *:after
  box-sizing border-box

*
  margin 0
  padding 0

html, body
  background-color #fff

html
  font-size 14px

body
  font 1rem/1.5 font-body
  color color-text
  font-size 1.1rem
  margin 0
  padding 0

a
  color color-link
  transition .15s all ease-in-out

a:visited
  color color-link-visited

a:active
  color color-link-active

a:hover
  color color-link-hover

h2, h3, h4, h5, h6, p, dl, ol, ul
  margin 1.5rem 0

ul,
ol,
dl
  ul,
  ol
    margin .5rem 0 .5rem 2.5rem

ol
  counter-reset item

li
  display block

li:before
  color rgba(0,0,0,.35)
  display inline-block

ul,
ol
  li:before
    display inline-block
    position absolute
    margin-left -4ch
    margin-right 1ch
    padding-right 0
    text-align right
    width 3ch

ol li:before
  content counters(item, '.') '. '
  counter-increment item

ul li:before
  content "●"

ul ul li:before
  content "○"

.nav-list
  margin 0

  li:before
    display none

h1, h2, h3, h4, h5, h6
  @extend .fancy-font
  a
    display block
    text-decoration none

.main
  padding-top 2rem

  h1, h2, h3, h4, h5, h6
    font-weight 400
    margin 2.5rem 0 1.5rem

  h1
    color #999
    line-height 1.2
    margin 0 0 2.5rem

  h2, h3, h4, h5, h6
    border-bottom 1px solid #eee

    &:hover
      border-bottom-color #ddd
    a
      padding-bottom .5rem

h1,
h1 a,
h1 a:hover,
h1 a:target
  color color-primary

h2,
h2 a,
h2 a:hover,
h2 a:visited
  color #333

h2:target
  a,
  a:hover,
  a:visited
    color color-black

h2:target,
h2:target:hover
  border-bottom-color color-black

h3,
h3 a,
h3 a:hover
  color #666
  font-size 1.5rem

.highlight
  margin-bottom 16px

code
  @extend .code-font
  font-size 1rem

pre
  background-color rgba(0,0,0,.05)
  border-radius 3px
  line-height 1.45
  margin 0
  overflow auto
  padding 10px
  word-break normal
  word-wrap normal
  pre
    background none

p code
  background #f4f4f4
  border-radius 3px
  font-size 0.9rem
  padding 3px 5px

// components

.nav-primary-item-anchor-selected
  background #fff
  color color-black
  font-weight 400
  opacity 1
  transition all 0s

.nav-toggle
  color color-black
  display none
  font-weight 400
  height nav-height
  line-height nav-height
  text-align center
  width 100%

.nav
  @extend .fancy-font
  background color-main
  display flex
  flex-direction column
  font-weight 300
  height 100%
  overflow-y auto
  padding nav-height 0
  position fixed
  top 0
  right 0
  width nav-width

.content
  background #fff
  padding 3rem
  position relative
  width (100% - nav-width)
  @media screen and (max-width: mobile-width)
    left 0
    padding 2rem
    width 100%

.column
  margin 0 auto
  max-width column-max-width
  position relative

.nav-primary-item a
  color color-black
  display block
  font-size 1.2rem
  padding 8px 2rem
  text-decoration none
  text-align right
  @media screen and (max-width: mobile-width)
    text-align center
  &:hover,
  &:active,
  &.active
    @extend .nav-primary-item-anchor-selected

.nav.elastic
  .nav-footer
    bottom auto

.nav-footer
  padding 2rem
  transition .15s bottom ease-in-out
  text-align right
  width 100%

.nav-footer-item a
  color color-text
  display block
  font-size 1rem
  text-decoration none
  white-space nowrap
  &:hover
    color color-text-darker
    opacity 1

.nav-footer-item + .nav-footer-item a
  padding-top .5rem

[data-current-path^="/directory"],
[data-current-path^="/assets"]
  .column
    max-width 1000px

  &[data-qs-headset*="vive"] .list-item:not([data-support-for-htc-vive="yes"]):not([data-requires-for-htc-vive="yes"]),
  &[data-qs-supports*="vive"] .list-item:not([data-support-for-htc-vive="yes"]),
  &[data-qs-requires*="vive"] .list-item:not([data-requires-for-htc-vive="yes"]),

  &[data-qs-headset*="rift"] .list-item:not([data-support-for-oculus-rift="yes"]):not([data-requires-for-oculus-rift="yes"]),
  &[data-qs-supports*="rift"] .list-item:not([data-support-for-oculus-rift="yes"]),
  &[data-qs-requires*="rift"] .list-item:not([data-requires-for-oculus-rift="yes"]),

  &[data-qs-headset*="gear"] .list-item:not([data-support-for-samsung-gear-vr="yes"]):not([data-requires-for-samsung-gear-vr="yes"]),
  &[data-qs-supports*="gear"] .list-item:not([data-support-for-samsung-gear-vr="yes"]),
  &[data-qs-requires*="gear"] .list-item:not([data-requires-for-samsung-gear-vr="yes"]),

  &[data-qs-headset*="osvr"] .list-item:not([data-support-for-osvr="yes"]):not([data-requires-for-osvr="yes"]),
  &[data-qs-supports*="osvr"] .list-item:not([data-support-for-osvr="yes"]),
  &[data-qs-requires*="osvr"] .list-item:not([data-requires-for-osvr="yes"]),

  &[data-qs-browser*="firefox"] .list-item:not([data-support-for-firefox-desktop="yes"]):not([data-requires-for-firefox-desktop="yes"]),
  &[data-qs-supports*="firefox"] .list-item:not([data-support-for-firefox-desktop="yes"]),
  &[data-qs-requires*="firefox"] .list-item:not([data-requires-for-firefox-desktop="yes"]),

  &[data-qs-browser*="chromium"] .list-item:not([data-support-for-chromium-desktop="yes"]):not([data-requires-for-chromium-desktop="yes"]),
  &[data-qs-supports*="chromium"] .list-item:not([data-support-for-chromium-desktop="yes"]),
  &[data-qs-requires*="chromium"] .list-item:not([data-requires-for-chromium-desktop="yes"]),

  &[data-qs-browser*="chrome"] .list-item:not([data-support-for-chromium-desktop="yes"]):not([data-requires-for-chromium-desktop="yes"]),
  &[data-qs-supports*="chrome"] .list-item:not([data-support-for-chromium-desktop="yes"]),
  &[data-qs-requires*="chrome"] .list-item:not([data-requires-for-chromium-desktop="yes"]),

  &[data-qs-browser*="chrome"] .list-item:not([data-support-for-chrome-desktop="yes"]):not([data-requires-for-chrome-desktop="yes"]),
  &[data-qs-supports*="chrome"] .list-item:not([data-support-for-chrome-desktop="yes"]),
  &[data-qs-requires*="chrome"] .list-item:not([data-requires-for-chrome-desktop="yes"]),

  &[data-qs-browser*="samsung"] .list-item:not([data-support-for-samsung-internet-browser-for-gear-vr="yes"]):not([data-requires-for-samsung-internet-browser-for-gear-vr="yes"]),
  &[data-qs-supports*="samsung"] .list-item:not([data-support-for-samsung-internet-browser-for-gear-vr="yes"]),
  &[data-qs-requires*="samsung"] .list-item:not([data-requires-for-samsung-internet-browser-for-gear-vr="yes"]),

  &[data-qs-browser*="carmel"] .list-item:not([data-support-for-oculus-carmel="yes"]):not([data-requires-for-oculus-carmel="yes"]),
  &[data-qs-supports*="carmel"] .list-item:not([data-support-for-oculus-carmel="yes"]),
  &[data-qs-requires*="carmel"] .list-item:not([data-requires-for-oculus-carmel="yes"]),

  &[data-qs-browser*="cardboard"] .list-item:not([data-support-for-google-cardboard="yes"]):not([data-requires-for-google-cardboard="yes"]),
  &[data-qs-supports*="cardboard"] .list-item:not([data-support-for-google-cardboard="yes"]),
  &[data-qs-requires*="cardboard"] .list-item:not([data-requires-for-google-cardboard="yes"]),

  &[data-qs-browser*="daydream"] .list-item:not([data-support-for-google-daydream="yes"]):not([data-requires-for-google-daydream="yes"]),
  &[data-qs-supports*="daydream"] .list-item:not([data-support-for-google-daydream="yes"]),
  &[data-qs-requires*="daydream"] .list-item:not([data-requires-for-google-daydream="yes"])
    display none

[data-nav-open="true"]
  .nav
    height 100%
  .nav-list
    display block

@media screen and (max-width: mobile-width)
  .nav
    height nav-height
    padding-top 0
    width 100%
    z-index 100
  .nav-list
    display none
  .nav-toggle
    display block

[data-current-path="/"] nav a[href="/"],
[data-current-path^="/getting-started"]:not([data-current-path^="/getting-started/troubleshooting"]) nav a[href^="/getting-started"]:not([href^="/getting-started/troubleshooting"]),
[data-current-path^="/browsers"]:not([data-current-path^="/browsers/changelog"]) nav a[href^="/browsers"]:not([href^="/browsers/changelog"]) a,
[data-current-path^="/browsers/changelog"] nav a[href^="/browsers/changelog"],
[data-current-path^="/headsets"] nav a[href^="/headsets"],
[data-current-path^="/getting-started/troubleshooting"] nav a[href^="/getting-started/troubleshooting"],
[data-current-path^="/directory"] nav a[href^="/directory"],
[data-current-path^="/assets"] nav a[href^="/assets"],
[data-current-path^="/creating"] nav a[href^="/creating"],
[data-current-path^="/community"] nav a[href^="/community"],
[data-current-path^="/spec"] nav a[href^="/spec"],
[data-current-path^="/contributing"] nav a[href^="/contributing"],
[data-current-path^="/rocks/about"] nav a[href^="/rocks/about"]
  @extend .nav-primary-item-anchor-selected

.nav-social-list
  font-size 0
  padding 20px 2rem 0 0
  text-align right
  width 100%

.nav-social-item
  display inline-block
  margin 0
  + .nav-social-item
    margin-left 20px

.social-link
  svg
    height 20px
    transition .15s transform ease-in-out
    transform scale(1)
    width 20px
  path
    fill color-text
    transition .15s fill ease-in-out
  &:hover
    path
      fill color-text-darker
    svg
      transform scale(1.2)

@media screen and (max-width: mobile-width)
  .nav-footer
    text-align center

  .nav-social-list
    padding 10px
    text-align center

.edit-page-link
  display block
  font-size .9rem
  line-height github-repo-size-with-units
  min-height github-repo-size-with-units
  opacity .4
  padding .5rem 0
  &:hover
    opacity .8

.github-edit-page-link
  background url(/img/github-octocat.svg) no-repeat
  background-size github-repo-size-with-units auto
  line-height github-repo-size-with-units
  display block
  min-height github-repo-size-with-units
  padding-left (github-repo-size + github-repo-padding)px
  z-index z-index-github-repo-link

.page-header .edit-options
  border-bottom 1px dotted #eee
  margin 0 0 2rem
  padding-bottom 1.5rem

.page-footer .edit-options
  border-top 1px dotted #eee
  margin-top 3rem
  padding 1.5rem 0

  .github-edit-page-link
    background-position 0 .4rem

.tagline
  align-self center
  color #999
  margin-left 2rem
  transition .15s color ease-in-out

  strong
    font-size 2rem

.logo
  color #fff
  align-items flex-start
  display flex
  text-decoration none
  width 100%

  &:hover .tagline
    color #666

  img
    display block
    max-width 200px

  @media screen and (max-width: mobile-width)
    margin-top nav-height

table.routes
  border-collapse collapse
  width 100%
  tr
    border-top 1px solid #ccc
    &:first-child
      border-top none
  th, td
    line-height 1.8
    text-align left
    &:first-child:after
      content "→"
      display block
      float right
      margin-right 20px
      opacity 0.5
      text-align right

img
  display block
  max-width 100%

hr
  background none
  border none
  border-top 1px dotted #eee
  height 0

.directory-list li:before
  content ""

.directory-item
  + .directory-item
    margin-top 2rem

.directory-anchor
  border 0
  text-decoration none

  img
    display block
    margin-bottom .5rem
    max-width 400px
    transition .15s opacity ease-in-out
    opacity .8

  &:hover
    img
      opacity 1

.list-item
  border .25rem solid color-black
  box-shadow .25rem .25rem color-text-light
  position relative

.list-item + .list-item
  margin-top 2.5rem

a.list-item-link
  color color-text-darker
  display flex
  padding 1rem
  text-decoration none

  &:hover
    color color-link

.list-item-name
  flex 1
  font-size 1.5rem
  font-weight 400
  // padding-left .75rem
  padding-right .75rem
  width 30%

.list-item-screenshots
  flex 1
  // order -1
  // padding-right .75rem
  padding-left .75rem
  width 40%

.list-item-screenshot
  display block

.list-item-screenshot ~ .list-item-screenshot
  display none

a.list-item-source-code-url,
a.list-item-video-link,
a.list-item-text-link
  color color-text-light
  display block
  font-size .9rem
  padding 0 1.5rem 1.5rem

  &:hover
    color color-link

a.list-item-source-code-url.github-edit-page-link
  background-position 1.5rem 0
  padding-left 3.5rem
  padding-bottom 0
  margin-bottom 1.5rem

a.list-item-video-link
  font-size .8rem
  padding-top .75rem

.list-item-video-wrap
  margin-top .75rem
  position relative
  padding-bottom 56.25%  /* 16:9 */
  height 0

  iframe
    height 300px
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    width 100%

.list-item-description
  color color-text-light
  display block
  flex 2
  min-width 30%
  padding-left 1.5rem

  > *:first-child
    margin-top 0
  > *:last-child
    margin-bottom 0

.directory-form
  padding-bottom 1rem

  label
    display block

    + label
      margin-top .5rem

    .label-text
      display inline-block
      min-width 5rem

fieldset
  border 6px solid lighten(color-main, 25%)
  padding .75rem

legend
  background color-main
  color color-text-darker
  font-weight 600
  padding 0 1rem

.btn
  background linear-gradient(#5fddff, #53addf)
  border-bottom 5px solid steelblue
  border-left none
  border-radius 10px
  border-right none
  border-top none
  box-shadow 0 2px 2px #ccc
  color #fff
  cursor pointer
  display inline-block
  font-family inherit
  font-size 1rem
  font-weight 600
  height 4rem
  line-height 4rem
  max-width 500px
  opacity .8
  outline none
  padding 0 4rem
  position relative
  transition 150ms ease-inout

  &:hover
    opacity .9

  &:active
    border none
    border-bottom 2px solid steelblue
    box-shadow 0 1px 4px #aaa
    background linear-gradient(#53aff, #5fcdff)
    color #fff
    line-height 4.35rem
    opacity 1

ul.asset-files-list
  background rgba(255,255,255,0.1)
  box-shadow 0 10px 20px inset red
  font-family font-code
  font-size 1rem
  margin-top 2rem

  &:empty
    display none

  li + li
    margin-top 0.75rem

  a
    border-bottom 1px dashed rgba(255,255,255,.4)

    &:hover
      border-bottom-color rgba(255,255,255,.8)

.uploadcare-widget
  display none

// TODO: Remove when https://github.com/zeke/jus/issues/36 is fixed.
#__bs_notify__
  display none !important
