@import 'syntax.styl'
@import 'system-font.styl'
@import 'monospace-font.styl'

color-main = rgb(76,96,255)
color-main-darker = darken(rgb(76,96,255), 10%)
color-text = #666
color-link = #222

font-body = system
font-code = monospace

logo-width = 300px
nav-width = 30%
column-max-width = 600px
mobile-width = 600px

github-repo-size = 20
github-repo-size-with-units = github-repo-size px

github-repo-padding = 10
github-repo-padding-with-units = github-repo-padding px

z-index-github-repo-link = 1

// utils / mixins

.fancy-font
  font-family font-body

.normal-font
  font-family font-body

.code-font
  font-family font-code

.centerer
  display block
  text-align center

// global

*, *:before, *:after
  box-sizing border-box

*
  margin 0
  padding 0

html, body
  background-color #fff

html
  font-size 14px

body
  font 1rem/1.5 font-body
  color color-text
  font-size 1.1rem
  margin 0
  padding 0

a
  color color-link
  transition .15s all ease-in-out

h2, h3, h4, h5, h6, p, dl, ol, ul
  margin 1.5rem 0

ul,
ol,
dl
  ul,
  ol
    margin .5rem 0 .5rem 2.5rem

ol
  counter-reset item

li
  display block

li:before
  color rgba(0,0,0,.35)
  display inline-block

ul,
ol
  li:before
    display inline-block
    position absolute
    margin-left -4ch
    margin-right 1ch
    padding-right 0
    text-align right
    width 3ch

ol li:before
  content counters(item, '.') '. '
  counter-increment item

ul li:before
  content "●"

ul ul li:before
  content "○"

h1, h2, h3, h4, h5, h6
  @extend .fancy-font
  margin-top 3rem
  a
    display block
    text-decoration none

h2, h3, h4, h5, h6
  border-bottom 1px solid #eee
  padding-bottom .5rem
  &:hover
    border-bottom-color #ddd

h1
  color #999
  font-weight 300

h1, h1 a
  color color-main-darker

h2, h2 a
  color #333

h3, h3 a
  color #666
  font-size 1.5rem

p, ol, ul
  a
    color color-main

.highlight
  margin-bottom 16px

code
  @extend .code-font
  font-size 1rem

pre
  background-color rgba(0,0,0,.05)
  border-radius 3px
  line-height 1.45
  margin 0
  overflow auto
  padding 10px
  word-break normal
  word-wrap normal
  pre
    background none

p code
  background #f4f4f4
  border-radius 3px
  font-size 0.9rem
  padding 3px 5px

// components

.nav-item-selected
  background color-main-darker
  opacity 1
  transition all 0s

.nav
  @extend .fancy-font
  background color-main
  color white
  font-weight 300
  height 100%
  overflow-y auto
  padding-top 40px
  position fixed
  right 0
  top 0
  width nav-width
  a
    color white
    display block
    font-size 1rem
    opacity 0.7
    padding 8px 30px
    text-decoration none
    &:hover, &:active, &.active
      @extend .nav-item-selected

.nav[data-current-path="/"] a[href="/"],
.nav[data-current-path^="/getting-started"]:not([data-current-path^="/getting-started/troubleshooting"]) a[href^="/getting-started"]:not([href^="/getting-started/troubleshooting"]),
.nav[data-current-path^="/browsers"]:not([data-current-path^="/browsers/changelog"]) a[href^="/browsers"]:not([href^="/browsers/changelog"]),
.nav[data-current-path^="/browsers/changelog"] a[href^="/browsers/changelog"],
.nav[data-current-path^="/getting-started/troubleshooting"] a[href^="/getting-started/troubleshooting"],
.nav[data-current-path^="/directory"] a[href^="/directory"],
.nav[data-current-path^="/creating"] a[href^="/creating"],
.nav[data-current-path^="/community"] a[href^="/community"],
.nav[data-current-path^="/spec"] a[href^="/spec"],
.nav[data-current-path^="/about"] a[href^="/about"]
  @extend .nav-item-selected

.footer
  border-top 1px dotted #eee
  margin-top 3rem

.edit-page-link
  display block
  padding 1.5rem 0

.github-edit-page-link
  background url(/img/github-octocat.svg) 0 1.5rem no-repeat
  background-size github-repo-size-with-units auto
  font-size .9rem
  line-height github-repo-size-with-units
  min-height github-repo-size-with-units
  opacity .4
  padding-left (github-repo-size + github-repo-padding)px
  z-index z-index-github-repo-link
  &:hover
    opacity .8

.content
  background #fff
  padding 60px
  position relative
  width (100% - nav-width)
  @media screen and (max-width: mobile-width)
    padding 30px
    width 100%

.column
  margin 0 auto
  max-width column-max-width
  position relative

.tagline
  align-self center
  color #999
  margin-left 2rem
  transition .15s color ease-in-out

  strong
    font-size 2rem

.logo
  color #fff
  align-items flex-start
  display flex
  text-decoration none
  width 100%

  &:hover .tagline
    color #666

  img
    display block
    max-width 200px

  @media screen and (max-width: mobile-width)
    margin-top 40px

table.routes
  border-collapse collapse
  width 100%
  tr
    border-top 1px solid #ccc
    &:first-child
      border-top none
  th, td
    line-height 1.8
    text-align left
    &:first-child:after
      content "→"
      display block
      float right
      margin-right 20px
      opacity 0.5
      text-align right

img
  display block
  max-width 100%

hr
  background none
  border none
  border-top 1px dotted #eee
  height 0

// TODO: Remove when https://github.com/zeke/jus/issues/36 is fixed.
#__bs_notify__
  display none !important
